* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Tomorrow", sans-serif;
    background-image: url("./img/lines.jpg");
    background-size: 100vw;    
}

h1 {
    text-align: center;
    color: aliceblue;
    margin-bottom: 1rem;
    margin-top: 8%;    
}

/*Configuración de la cuadrícula:
El plan es crear 18 columnas y 9 filas y
como las leyendas son el doble de anchas 
que los elementos, aplicarles un grid-column: 1 / span 2 */
.tablaper {
    display: grid;    
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: repeat(9, auto);
    gap: 5px;
    width: 65vw;
    height: 60vh;   
    margin: 0 auto;        
    border-radius: 10px;    
}

/*Estilos para las celdas y los elementos dentro de ellas*/
.tablaper li {
    list-style: none;    
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;  
}

.tablaper li h2 {
    margin: 0;
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    order: 2;    
}

.tablaper li .numatomico {    
    font-size: 0.7rem;
    order: 1;
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding: 2px;
}

.tablaper li .nomelemento {
    display: flex;
    flex-direction: row;
    justify-content: end;
    font-size: 0.5rem;
    padding: 2px;
    order:3;
}

/*Leyendas*/
.leyenda {
    grid-column: span 2;    
    text-align: center;                    
}

.leyenda h3 {
    font-weight: normal;
    font-size: 0.7rem;    
    margin-top: 12%;        
}

/*Colores para las familias de elementos y las leyendas*/
.nometalesreactivos, .l1 {
    background: #a5dfdf;
}

.gasesnobles, .l2 {
    background: #5D6BEA;
}

.alcalinoterreos, .l3 {
    background: #fbab88;
}

.alcalinos, .l4 {
    background: #f5ce8f;
}

.metaloides, .l5 {
    background: #4ABFBF;
}

.metalesdetransicion, .l6 {
    background: #c398eb;
}

.postransicionales, .l7 {
    background: #e285d4;
}

.lantanidos, .l8 {
    background: #F76526;
}

.actinidos, .l9 {
    background: #E19214;
}

.propiedadesdesconocidas, .l10 {
    background: #bbbbbb
}

/*Posicionamiento especial para algunos elementos*/
#helio {
    grid-column: 18;
}

#boro {
    grid-column: 13 / span 1;
}

#aluminio {
    grid-column: 13;
}

#hafnio {
    grid-column: 4;
    grid-row: 6;
}

/*Posicionamiento de las leyendas*/
.l1, .l2, .l3, .l4 {
    grid-row: 1;
}

.l1, .l5 {   
    grid-column: 4 / span 2;    
}
.l2, .l6, .l9 {    
    grid-column: 6 / span 2;
}

.l3, .l7, .l10 {    
    grid-column: 8 /span 2;
}

.l4, .l8 {
    grid-column: 10 /span 2;
}

.l5, .l6, .l7, .l8 {
    grid-row: 2;
}

.l9, .l10 {
    grid-row: 3;
}

#actinio {
    grid-row: 7;
    grid-column: 3;
}

#lantano {
    grid-row: 6;
    grid-column: 3;
}

#cerio {
    grid-row: 8;
    grid-column: 4;   
}

#torio {
    grid-column: 4;
    grid-row: 9;
}

/*Pues este es el fracaso de la práctica. Por muchas vueltas que le he dado
 (y no estoy muy brillante con este horrible gripazo) no he encontrado la manera
 de que el resto de los lantánidos y actínidos se posicionaran en las 2 últimas líneas
 automaticamente. Esta solución no sólo provoca un largo añadido de id´s (que en realidad
 es lo de menos) Lo peor es que convierte la elaboración de las 3 medias querys en una pesadilla.
 Y lo peor de todo es que, aunque consiga el objetivo final de la práctica, al no ser el código eficiente
 puede que todo este trabajo haya sido sólo una pérdida de tiempo.*/

#pra, #neo, #pro, #sam, #eur, #gad, #ter, #dis, #hol, #erb, #tul, #ite, #lut {
    grid-row: 8;
}

#pra, #prot {
    grid-column: 5;

}
#neo, #uran {
    grid-column: 6;

}
#pro, #nept {
    grid-column: 7;
}

#sam, #plut {
    grid-column: 8;
}

#eur, #amer {
    grid-column: 9;
}
#gad, #curi  {
    grid-column: 10;
}
#ter, #berk {
    grid-column: 11;
}
#dis, #cali {
    grid-column: 12;
}
#hol, #eins {
    grid-column: 13;
}
#erb, #ferm {
    grid-column: 14;
}
#tul, #mend {
    grid-column: 15;
}
#ite, #nobe {
    grid-column: 16;
}
#lut, #laur {
    grid-column: 17;
}

#prot, #uran, #nept, #plut, #amer, #curi, #berk, #cali, #eins, #ferm, #mend, #nobe, #laur {
    grid-row: 9;
}

/*================media query x 3===============================================================*/

@media screen and (max-width: 480px) {
    /*Con esto vamos a eliminar el posicionamiento específico que les
    dimos a algunos elementos en las reglas generales (esto se repite
    en las siguientes media querys. Por haber tenido que hacer ese
     posicionamiento específico a los lantánidos y los actínidos
      las medias querys se han convertido en una pesadilla.*/ 
    #helio, #lantano, #actinio, #cerio, 
    #pra, #neo, #pro, #sam, #eur, 
    #gad, #ter, #dis, #hol, #erb, 
    #tul, #ite, #lut, #hafnio,
    #lantano, #actinio, #torio,
    #prot, #uran, #nept, #plut,
    #amer, #curi, #berk, #cali,
    #boro, #eins, #aluminio,
    #ferm, #mend, #nobe,
    #laur {
        grid-column: 1;
        grid-row: auto;
    }  

    body {
        background-color: #16585b;
        background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%2355dde1' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
        background-size: 7px; 
    }

    h1 {
        font-size: 25px;
        margin-top: 10px;
    }
    .tablaper {        
        /*Aquí establecemos el template de esta media query*/
        grid-template-columns: 1fr;
        grid-template-rows: repeat(128, 1fr);       
        gap: 2px;
        width: 90%;
    }
   
    .tablaper li {        
        height: 40px;
        flex-direction: row;
        position: relative;
        grid-column: 1;        
    }

    .tablaper li h2 {
        font-size: 1.7rem;       
        position:absolute;
        left: 45%;
        text-align: center;              
    }

    .tablaper li .numatomico {
        font-size: 1.4rem;
        padding: 3px;        
    }

    .tablaper li .nomelemento {
        font-size: 1.2rem;
    }      
    
    .leyenda h3 {        
        margin: auto;
        margin-top: 6px;
        font-size: 22px;        
    }

    .leyenda h3 br {
        display:none;        
    }

    /*Posicionamos las leyendas en las 10 primeras filas. */
    .l1 {
        grid-row: 1;
        grid-column: 1;
    }

    .l2 {
        grid-row: 2;
        grid-column: 1;
    }

    .l3 {
        grid-row: 3;
        grid-column: 1;
    }

    .l4 {
        grid-row: 4;
        grid-column: 1;
    }

    .l5 {
        grid-row: 5;
        grid-column: 1;
    }

    .l6 {
        grid-row: 6;
        grid-column: 1;
    }

    .l7 {
        grid-row: 7;
        grid-column: 1;
    }

    .l8 {
        grid-row: 8;
        grid-column: 1;
    }

    .l9 {
        grid-row: 9;
        grid-column: 1;
    }

    .l10 {
        grid-row: 10;
        grid-column: 1;
    }

}

@media (min-width: 481px) and (max-width: 768px) {
     /*Con esto vamos a eliminar el posicionamiento específico que les
    dimos a algunos elementos en las reglas generales. */ 
    #lantano, #actinio,  
    #pra, #pro, #eur, 
    #ter, #hol, 
    #tul, #lut, #lantano,
    #actinio, #prot, #nept,
    #amer, #berk, #boro,
     #eins, #aluminio,
     #mend, #laur {
        grid-column: 1;
        grid-row: auto;
    }
    
    #helio, #cerio, #neo, #sam,
    #gad, #dis, #erb, #ite,
    #hafnio, #torio, #uran,
    #plut, #curi, #cali,
    #ferm, #nobe  {
        grid-column: 2;
        grid-row: auto;
    }
   
    
    body {
        background-color: #16585b;
        background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%2355dde1' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
        background-size: 7px; 
    }

    h1 {
        margin-top: 10px;
    }

    .tablaper {        
        /*Aquí establecemos el template de esta media query*/
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;        
        gap: 2px;        
        width: 90%;       
    }

    .tablaper li {        
        height: 40px;
        flex-direction: row;
        position: relative;                
    }

    .tablaper li h2 {
        font-size: 1.4rem;       
        position:absolute;
        left: 45%;
        text-align: center;              
    }

    .tablaper li .numatomico {
        font-size: 1.2rem;
        padding: 3px;        
    }

    .tablaper li .nomelemento {
        font-size: 1rem;
    }     
    
    .leyenda h3 {        
        margin: auto;
        margin-top: 6px;
        font-size: 22px;        
    }   

    .leyenda h3 br {
        display:none;        
    }

    /*Posicionamos las leyendas en las 10 primeras filas abarcando
    las 2 columnas*/
    .l1 {
        grid-row: 1;
        grid-column: 1 / span 2;
    }

    .l2 {
        grid-row: 2;
        grid-column: 1 / span 2;
    }

    .l3 {
        grid-row: 3;
        grid-column: 1 / span 2;
    }

    .l4 {
        grid-row: 4;
        grid-column: 1 / span 2;
    }

    .l5 {
        grid-row: 5;
        grid-column: 1 / span 2;
    }

    .l6 {
        grid-row: 6;
        grid-column: 1 / span 2;
    }

    .l7 {
        grid-row: 7;
        grid-column: 1 / span 2;
    }

    .l8 {
        grid-row: 8;
        grid-column: 1 / span 2;
    }

    .l9 {
        grid-row: 9;
        grid-column: 1 / span 2;
    }

    .l10 {
        grid-row: 10;
        grid-column: 1 / span 2;
    }  
}

@media (min-width: 769px) and (max-width: 1024px) {  
     
    #lantano, #pro, #gad, #hol, 
    #actinio, #prot, #berk,
    #aluminio, #laur, #cerio,
     #ite, #plut, #ferm {
        grid-column: 1;
        grid-row: auto;
    }
    
    #boro, #helio, #sam,
    #erb, #uran, #cali,
    #pra, #ter, #lut,
    #actinio, #amer, #mend  {
        grid-column: 2;
        grid-row: auto;
    }

    #lantano, #neo, #eur,
    #dis, #tul, #hafnio, #torio,
    #nept, #curi, #eins, #nobe {
        grid-column: 3;
        grid-row: auto;
     }    

    body {
        background-color: #16585b;
        background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%2355dde1' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
        background-size: 7px; 
    }

    h1 {
        font-size: 30px;
        margin-top: 10px;
    }

    .tablaper {
        /*Aquí establecemos el template de esta media query*/
        grid-template-columns: repeat(3, 1fr);/*3 columnas */
        grid-template-rows: auto; /*50 filas */
        gap: 2px;
        width: 90%;
    }
   
    .tablaper li {        
        height: 40px;
        flex-direction: row;
        position: relative;        
    }

    .tablaper li h2 {
        font-size: 1.3rem;       
        position:absolute;
        left: 45%;
        text-align: center;              
    }

    .tablaper li .numatomico {
        font-size: 1rem; 
        padding: 3px;        
    }

    .tablaper li .nomelemento {
        font-size: 0.9rem;
    }      
    
    .leyenda h3 {        
        margin: auto;
        margin-top: 6px;
        font-size: 15px;        
    }

    /*Quitando el efecto del <br> que añadí para
    poder posicionar bien las leyendas de más de una 
    palabra. */
    .leyenda h3 br {
        display:none;        
    }

    /*Posicionamos las leyendas en las 10 primeras filas abarcando
    las 3 columnas*/
    .l1 {
        grid-row: 1;
        grid-column: 1 / span 3;
    }

    .l2 {
        grid-row: 2;
        grid-column: 1 / span 3;
    }

    .l3 {
        grid-row: 3;
        grid-column: 1 / span 3;
    }

    .l4 {
        grid-row: 4;
        grid-column: 1 / span 3;
    }

    .l5 {
        grid-row: 5;
        grid-column: 1 / span 3;
    }

    .l6 {
        grid-row: 6;
        grid-column: 1 / span 3;
    }

    .l7 {
        grid-row: 7;
        grid-column: 1 / span 3;
    }

    .l8 {
        grid-row: 8;
        grid-column: 1 / span 3;
    }

    .l9 {
        grid-row: 9;
        grid-column: 1 / span 3;
    }

    .l10 {
        grid-row: 10;
        grid-column: 1 / span 3;
    }    

}

