* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: "Tomorrow", sans-serif;
    background-image: url("./img/lines.jpg");
    background-size: contain;
}

h1 {
    text-align: center;    
}

