* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-image: url(./img/pattern_chinese-13_1_2_0-0_0_1__hsla\(240\,\ 7_\,\ 18_\,\ 1.00\)_hsla\(47\,\ 81_\,\ 61_\,\ 1.00\).png);
    background-repeat: repeat;
    background-size: 300px;
}

#container1 {
    background-color: rgb(0, 0, 0, 0.7);
    width: 80%;
    margin: auto;    
}

h1 {
    text-align: center;
    color: rgb(237, 237, 14);
    padding-top: 20px;
}

.dragon {
    width: 200px;
}