* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-image: url(./img/pattern_chinese-13_1_2_0-0_0_1__hsla\(240\,\ 7_\,\ 18_\,\ 1.00\)_hsla\(47\,\ 81_\,\ 61_\,\ 1.00\).png);
    background-repeat: repeat;
    background-size: 300px;
    font-family: "Ma Shan Zheng", serif;
    font-weight: 400;
    font-style: normal;
}

#container1 {
    background-color: rgb(0, 0, 0, 0.7);
    width: 80%;
    margin: auto;    
}

h1 {
    
    color: rgb(210, 210, 67);    
    margin: 20px;
    font-size: 50px;
}

.dragon {
    width: 200px;
    height: 80px;
    padding-top: 10px;
}

#encabezado {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100px;
}

.rrss {
    display: flex;
    flex-direction: row;
}