* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: "Literata", serif;
    color: gainsboro;
    font-size: 12px;
    background-color: lightslategrey;    
}

#container1 {
    background-color: darkslategrey;
    width: 75%;
    border: solid gainsboro 4px;
    display: flex;
    margin: auto;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#title {    
    text-align: center;
}

#subrayado {
    height: 3px;
    width: 90%;
    background-color: gainsboro;    
    margin:auto;
    margin-bottom: 15px;    
}

#cartas {
    display: flex;
    flex-direction: column;
}

.A, .J, .Q, .K, .dos, .tres, .cuatro, .cinco, .seis, .siete, .ocho, .nueve, .diez {
    width: 126px;
    height: 182px;
    background-color: gainsboro;
    margin: 13px;
    border-radius: 10px;    
}

.fila7 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.fila6 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}