* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: "Literata", serif;
    color: gainsboro;
    font-size: 12px;
    background-color: lightslategrey;    
}

#container1 {
    background-color: darkslategrey;
    width: 75%;
    border: solid gainsboro 4px;
    display: flex;
    margin: auto;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 8px;
}

#title {    
    text-align: center;
    margin-top: 15px;
}

#subrayado {
    height: 3px;
    width: 90%;
    background-color: gainsboro;    
    margin:auto; /*Misma distancia en ambos márgenes centrando el elemento.*/
    margin-bottom: 15px;    
}

#cartas {
    display: flex;
    flex-direction: column;
    color: #443B3B;     
}

/*He puesto dos clases a cada carta, una es "carta" y la otra el número o figura.
Aquí establecemos el estilo del contenedor carta y la dirección de sus elementos internos.
ESTRUCTURA DENTRO DE LA CARTA:
He decidido organizar los elementos internos en fila, pero el interior de ellos estará en 
columnas. Así por ejemplo, el 3 tendrá 3 elementos en fila y con space-between: número y símbolo de la esquina
superior dcha., los tres símbolos grandes y número y símbolo de la esquina inferior izq.
Y dentro de cada uno de estos la distribución será en columnas.*/
.carta {
    width: 126px;
    height: 182px;
    background-color: gainsboro;
    margin: 13px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 13px;    
}

.fila7 {
    display: flex;
    flex-direction: row;
    justify-content: space-between; /*Para que los dos tipos de filas
     estén alineadas en los extremos.*/
     flex-wrap: wrap;

}

.fila6 {
    display: flex;
    flex-direction: row;
    justify-content: space-between; /*Lo dicho.*/
    flex-wrap: wrap;
}

.top {
    display: flex;
    flex-direction: column;
    
}

.bottom {
    display: flex;
    flex-direction: column;
    transform: rotate(180deg);/*Esto pone el elemento
    boca abajo y además lo mueve hacia abajo, sin necesidad de
    usar column-reverse (pensaba que iba a ser necesario).*/    
}



/*Con esto selecciono todos los iconos de Bootstrap que necesitan aumentar
de tamaño (los tréboles y picas que están en el interior de la carta, no las
de las esquinas que ya traen un tamaño adecuado.*/
.carta > div:not(:first-child):not(:last-child) {
    font-size: 25px;
}

.carta div {
    display: flex;
    flex-direction: column;
}

.delReves {
    transform: rotate(180deg);

}

/*Las siguientes reglas posicionan los tréboles y picas
grandes. */
.A :nth-child(even) {
    justify-content: center;    
}

.dos :nth-child(even) {
    justify-content: space-between;
}

.tres :nth-child(even) {
    justify-content: space-between;
}

/*Aquí aplicamos margen pero sólo al div,
no a los elementos internos del div.
Las tres reglas siguientes separan
las dos columnas del 6 adecuadamente.
Repito las mismas más tarde pero para el 6,
que tiene la misma estructura.*/
.cuatro > div:nth-child(2){
    margin-right: 10px;
}

.cuatro .top {
    margin-right: -10px;
}

.cuatro > div:nth-child(3) {
    margin-right: -9px;
}

.cuatro :nth-child(2),
.cuatro :nth-child(3) {
    justify-content: space-between;
}

.cinco :nth-child(2),
.cinco :nth-child(4) {
    justify-content: space-between;
}

.cinco :nth-child(3) {
    justify-content: center;
}

.seis :nth-child(2),
.seis :nth-child(3) {
    justify-content: space-between;
}

.seis > div:nth-child(2) {
    margin-right: 12px;
}

.seis > div:nth-child(2){
    margin-right: 10px;
}

.seis .top {
    margin-right: -10px;
}

.seis > div:nth-child(3) {
    margin-right: -9px;
}

.siete :nth-child(even) {
    justify-content: space-between;
    margin-top: 10%;
}

.siete :nth-child(3) {
    justify-content: center;
    margin-bottom: 50%;
}

.ocho :nth-child(even) {
    justify-content: space-between;
}

.ocho :nth-child(3) {
    justify-content: space-around;
}

.nueve :nth-child(even) {
    justify-content: space-around;
}

.nueve :nth-child(3) {
    justify-content: center;    
}

.diez :nth-child(even) {
    justify-content: space-around;
}

.diez :nth-child(3) {
    justify-content: space-around;
}

.dibujo1, .dibujo2, .dibujo3, .dibujo4, .dibujo5, .dibujo6 {    
    width: 98px;    
    position: relative;
    margin-top: 20px;
    margin-left: 5px;    
}

.dibujo1 {
    background-image: url(./img/jc.png);
    background-size: 90px;
    background-repeat: no-repeat;
}

.dibujo2 {
    background-image: url(./img/qc.png);
    background-size: 90px;
    background-repeat: no-repeat;
}

.dibujo3 {
    background-image: url(./img/kc.png);
    background-size: 90px;
    background-repeat: no-repeat;
}

.dibujo4 {
    background-image: url(./img/js.png);
    background-size: 90px;
    background-repeat: no-repeat;
}

.dibujo5 {
    background-image: url(./img/qs.png);
    background-size: 90px;
    background-repeat: no-repeat;
}

.dibujo6 {
    background-image: url(./img/ks.png);
    background-size: 90px;
    background-repeat: no-repeat;
}

/*Como la J y la Q tienen las picas en la misma
posición, las 2 reglas siguientes se comparten entre ellas. */
#spade1, #spade3 {
    position: absolute;
    top: 63%;
    left: 3%;
}

#spade2, #spade4 {
    position:absolute;    
    left: 65%;
}

#spade5 {
    position: absolute;
    top: 63%;
    left: 65%;
}

#spade6 {
    position: absolute;
    left: 5%;
}


/*Ocurre los mismo de antes con la J y Q 
de tréboles. */
#club1, #club3 {
    position:absolute;
    top:65%;
    left: 3%;
}

#club2, #club4 {
    position:absolute;
    left: 66%;
}

#club5 {
    position: absolute;
    top: 65%;
    left: 66%;

}

#club6 {
    position: absolute;
    left: 4%;
    
}

.J .top, .Q .top, .K .top {
    margin-left: 3px;
}

.J .bottom, .Q .bottom, .K .bottom {
    margin-right: 3px;
}



