* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: "Literata", serif;
    color: gainsboro;
    font-size: 12px;
    background-color: lightslategrey;    
}

/*Contenedor de fondo verde. */
#container1 {
    background-color: darkslategrey;
    width: 75%;
    border: solid gainsboro 4px;
    display: flex;
    margin: auto;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 8px;
}

#title {    
    text-align: center;
    margin-top: 15px;
}

#subrayado {
    height: 3px;
    width: 90%;
    background-color: gainsboro;    
    margin:auto; /*Misma distancia en ambos márgenes centrando el elemento.*/
    margin-bottom: 15px;    
}

/*Contenedor para las cartas */
#cartas {
    display: flex;
    flex-direction: column;
    color: #443B3B;     
}

/*He puesto dos clases a cada carta, una es "carta" y la otra el número o figura.
Aquí establecemos el estilo del contenedor carta y la dirección de sus elementos internos.
ESTRUCTURA DENTRO DE LA CARTA:
He decidido organizar los elementos internos en fila, pero el interior de ellos estará en 
columnas. Así por ejemplo, el 3 tendrá 3 elementos en fila con space-between:div con número y símbolo de la esquina
superior izquierda, div con los tres símbolos grandes y div con número y símbolo de la esquina inferior derecha,
Y dentro de cada uno de estos la distribución será en columnas, para poder posicionarlos dentro de la columna
usando justify-content.*/
.carta {
    width: 126px;
    height: 182px;
    background-color: gainsboro;
    margin: 13px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 13px;    
}

/*Div para las filas de 7 cartas. */
.fila7 {
    display: flex;
    flex-direction: row;
    justify-content: space-between; /*Para que los dos tipos de filas
     estén alineadas en los extremos.*/
     flex-wrap: wrap;

}

/*Div para las filas de 6 cartas. */
.fila6 {
    display: flex;
    flex-direction: row;
    justify-content: space-between; /*Lo dicho.*/
    flex-wrap: wrap;
}

/*Div que incluye el icono de la esquina superior
y su número o letra. */
.top {
    display: flex;
    flex-direction: column;
    
}

/*Este para la esquina inferior, cuyo icono
está boca abajo. */
.bottom {
    display: flex;
    flex-direction: column;
    transform: rotate(180deg);/*Esto pone al icono
    boca abajo porque invertimos el contenedor que
    lo contiene, consiguiendo así que se situe
    en la esquina inferior.*/    
}

/*Con esto selecciono todos los iconos de Bootstrap que necesitan aumentar
de tamaño (los tréboles y picas que están en el interior de la carta, no las
de las esquinas que ya traen un tamaño adecuado y son el primer y último
hijo dentro de cada carta.*/
.carta > div:not(:first-child):not(:last-child) {
    font-size: 25px;
}

.carta div {
    display: flex;
    flex-direction: column;
}

.delReves {
    transform: rotate(180deg);

}

/*Las siguientes reglas posicionan los tréboles y picas
grandes dentro de las cartas, seleccionando los distintos
div mediante el uso de la pseudoclase :nth-child(). */
.A :nth-child(even) {
    justify-content: center;    
}

.dos :nth-child(even) {
    justify-content: space-between;
}

.tres :nth-child(even) {
    justify-content: space-between;
}

.cuatro > div:nth-child(2){
    margin-right: 10px;
}

.cuatro .top {
    margin-right: -10px;
}

.cuatro > div:nth-child(3) {
    margin-right: -9px;
}

.cuatro :nth-child(2),
.cuatro :nth-child(3) {
    justify-content: space-between;
}

.cinco :nth-child(2),
.cinco :nth-child(4) {
    justify-content: space-between;
}

.cinco :nth-child(3) {
    justify-content: center;
}

.seis :nth-child(2),
.seis :nth-child(3) {
    justify-content: space-between;
}

/*Con > evitamos que la regla se aplique a los nietos,
biznietos y resto de descendientes. */
.seis > div:nth-child(2) {
    margin-right: 12px;
}

.seis > div:nth-child(2){
    margin-right: 10px;
}

.seis .top {
    margin-right: -10px;
}

.seis > div:nth-child(3) {
    margin-right: -9px;
}

.siete :nth-child(even) {
    justify-content: space-between;
    margin-top: 10%;
}

.siete :nth-child(3) {
    justify-content: center;
    margin-bottom: 50%;
}

.ocho :nth-child(even) {
    justify-content: space-between;
}

.ocho :nth-child(3) {
    justify-content: space-around;
}

.nueve :nth-child(even) {
    justify-content: space-around;
}

.nueve :nth-child(3) {
    justify-content: center;    
}

.diez :nth-child(even) {
    justify-content: space-around;
}

.diez :nth-child(3) {
    justify-content: space-around;
}


/*Medidas y posicionamiento de las figuras dentro de
las cartas.*/
.dibujo1, .dibujo2, .dibujo3, .dibujo4, .dibujo5, .dibujo6 {    
    width: 98px;    
    position: relative;
    margin-top: 20px;
    margin-left: 5px;    
}

/*Las imágenes de las figuras son backgrounds de un div
en el que también están los tréboles y picas que aparecen en
ellas. Esto nos permite colocar los iconos sobre ellas
como si fueran textos y posicionarlos con relative/absolute. */
.dibujo1 {
    background-image: url(./img/jc.png);
    background-size: 90px;
    background-repeat: no-repeat;
}

.dibujo2 {
    background-image: url(./img/qc.png);
    background-size: 90px;
    background-repeat: no-repeat;
}

.dibujo3 {
    background-image: url(./img/kc.png);
    background-size: 90px;
    background-repeat: no-repeat;
}

.dibujo4 {
    background-image: url(./img/js.png);
    background-size: 90px;
    background-repeat: no-repeat;
}

.dibujo5 {
    background-image: url(./img/qs.png);
    background-size: 90px;
    background-repeat: no-repeat;
}

.dibujo6 {
    background-image: url(./img/ks.png);
    background-size: 90px;
    background-repeat: no-repeat;
}

/*Las siguientes reglas posicionan las picas y tréboles correctamente
encima de las imágenes de las figuras. */
#club1, #club3 {
    position:absolute;
    top:65%;
    left: 3%;
}

#club2, #club4 {
    position:absolute;
    left: 66%;
}

#club5 {
    position: absolute;
    top: 65%;
    left: 66%;

}

#club6 {
    position: absolute;
    left: 4%;
    
}

#spade1, #spade3 {
    position: absolute;
    top: 63%;
    left: 3%;
}

#spade2, #spade4 {
    position:absolute;    
    left: 69%;
}

#spade5 {
    position: absolute;
    top: 63%;
    left: 65%;
}

#spade6 {
    position: absolute;
    left: 5%;
}

/*Ajustando los mini símbolos y letras de
las figuras. */
.J .top, .Q .top, .K .top {
    margin-left: 3px;
}

.J .bottom, .Q .bottom, .K .bottom {
    margin-right: 3px;
}

@media screen and (width <=1500px) {
    
    
}



