* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --blanco: rgba(236, 224, 224);
    --rojo:rgb(209, 29, 29);
}

html {
    background-image: url("./img/pexels-enginakyurt-1435895.jpg");
    background-size: auto 191vh; /*Manteniendo las proporciones.*/
    background-repeat: no-repeat;   
}

.contenedor-lineas {
    cursor: pointer;    
    height: 50px;
    width: 50px;
    z-index: 20;
    position: relative;      
}

/* Líneas del menú hamburguesa */
.linea-superior, .linea-intermedia, .linea-inferior {
    width: 30px;
    height: 5px;
    background: rgb(0, 0, 0, 0.7); /*Un poquito de transparencia al negro para que no quede tan intenso.*/
    border-radius: 100px;
    position: absolute; /* Para posicionar las líneas manualmente
    (lo hacemos en la siguientes reglas)*/    
    left: 20px;
    /*Para la transición del menú hamburguesa */    
    transition: transform 0.5s ease, opacity 0.5s ease;
     /*Para que quede encima del menú desplegable*/   
    border:none;/*Esto lo he tenido que añadir por haber
    usado hr en lugar de span o div al hacer las líneas del
    menú hamburguesa. Sirve para eliminar el borde por defecto
    que estropea su aspecto, en especial el de la X que forman
    al aparecer el menú/lista */
}

/*Posicionando las líneas del menú hamburguesa.*/
.linea-superior {
    top: 15px;
}

.linea-intermedia {
    top: 24px;
}

.linea-inferior {
    top: 34px;
}

/*Esto oculta el checkbox que hay en el menú hamburguesa */
input {
    visibility: hidden;
}

#titulo {
    background-color: var(--blanco);
    border: 6px var(--rojo) solid;        
    text-align: center;
    width: 82%;
    font-family: "Shantell Sans", system-ui;
    font-weight: 900;    
    color: var(--rojo);
    padding: 5px;
    text-align: center;
    position:fixed;
    top:40px;
    left: 124px;          
}

#titulo2 {
    background-color: var(--blanco);
    font-family: "Shantell Sans", system-ui;
    color: var(--rojo);    
    border-radius: 15px;
    font-size: 2vw;
    text-align: center;
    margin: 10px 45px;
    font-size: 1.7em;    
}

/*Estas 2 siguientes son las reglas para el código javascript.
(ver archivo script.js)*/
.desaparecido {
    visibility: hidden;
}

.aparecido {
    visibility: visible;
}

.transp {    
    background-color: rgb(0, 0, 0, 0.9);
    height: 100%;    
    /*Ahora posicionamos al elemento transp con su menú dentro
    de manera absoluta respecto a .fondo, que está fixed,
    y top/left lo situan en la esquina superior izquierda de su
    contenedor */
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;    
    /*Esto es lo que mantiene oculto el menú lateral,
    pues se mueve sobre el eje horizontal (X) un -100%
    de su propio ancho hacia la derecha. Luego veremos
    como aparece con el valor translateX(0), como si fuera
    una puerta corredera moviéndose por un riel.*/    
    transform: translateX(-100%);
    transition: transform 0.5s ease, opacity 0.5s ease;
    /*Veremos varios z-index en esta práctica, para hacer
    que cada elemento aparezca sobre otro o debajo, según
    el caso.*/
    z-index: 10;    
}

.contenedor-imagen {
    position: relative; /*Permite posicionar el texto respecto a la imagen */
    width: 150px;
    height: auto; /*Mantiene las proporciones */
    margin: 0 auto;
    margin-top: 10px;
}

.contenedor-imagen img {
    display: block;
    width: 100%; /*La imagen ocupa todo el ancho del contenedor */
    height: auto;
    border: 3px white solid;
    opacity: 0; /* Inicialmente oculta */
    transform: translateX(-100%); /* Fuera de la pantalla */
    transition: transform 1s ease, opacity 1s ease;   
}

/*El texto sobre la foto de los corazones.
Al estar en un div dentro del contenedor-image,
junto con la img, le aplicamos position:absolute
y eso nos permite situar el texto encima de la foto
con top y left. Transform remata la faena, haciendo
que el texto cuyo punto superior izquierdo estaba en 
el centro de la imagen con top:50% y left:50%, se 
desplace hacia atrás en ambos ejes, colocando su centro
exacto en el centro del contenedor. Un clásico de CSS.*/
.sobretexto {
    position: absolute;
    top: 50%; /*Centra verticalmente */
    left: 50%; /*Centra horizontalmente */
    transform: translate(-50%, -50%); /*Ajusta al centro exacto */
    width: 98%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    padding: 5px 0;    
    font-family: "Shantell Sans", sans-serif;
}

.menu {
    position: relative;        
    z-index: 10; /*Nos aseguramos que los enlaces del menu
    queden sobradamente encima de todas las capas anteriores.
    Esto es importante, porque si hay alguna capa encima que tenga
    transparencia, veríamos el texto pero no podríamos hacer click
    sobre él. */
    padding: 20px;
    padding-top: 10px;            
}

.menu ul {    
    list-style: none;/*Quitamos las viñetas propias de la 
    lista desordenada*/    
    text-align: center;        
}

.menu ul li a {    
    text-decoration: none; /*Eliminamos el subrayado que llevan
    los enlaces por defecto*/        
    color:whitesmoke;
    font-family: "Niconne",sans-serif;
    font-size: 30px;
}

/*Estilos cuando hacemos hover sobre los elementos del menú.*/
.menu ul li a:hover {
    color: rgb(194, 29, 29);
    text-decoration: underline;
    font-weight: bold;
} 

/*Cuando el checkbox está activado, muestra el menú.*/
#menu-toggle:checked ~ .transp {
    transform: translateX(0); /* Mueve el menú a la posición visible */
    opacity: 1;
    transition: transform 0.5s ease, opacity 0.5s ease;    
    z-index: 10; /* Asegura que esté encima de otros elementos */
}

/*Hace visible la foto de los corazones.*/
#menu-toggle:checked ~ .transp .contenedor-imagen img {
    opacity: 1; /* Visible */
    transform: translateX(0); /* En su posición final */
}

/* Cambia el color de las líneas del menú hamburguesa a blanco cuando
 el contenedor .transp esté desplegado para que destaquen sobre el fondo negro.*/
#menu-toggle:checked ~ .contenedor-lineas .linea-superior,
#menu-toggle:checked ~ .contenedor-lineas .linea-intermedia,
#menu-toggle:checked ~ .contenedor-lineas .linea-inferior {
    background-color: white;
}

/* Esconde la imagen y el menú junto con .transp */
.transp img,
.transp .menu {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.5s, opacity 0.5s ease;
}

/*Cuando el menú está activo, también muestra su contenido */
#menu-toggle:checked ~ .transp img,
#menu-toggle:checked ~ .transp .menu {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s ease;
    z-index: 11; /*Encima del fondo semitransparente */
}

/*El container del título y el párrafo y sus
estilos.*/
#container {
    background-color: rgb(0, 0, 0, 0.8);    
    height: 124vh;
    width: 85%;
    margin-left:7.5%;    
    padding: 27px;
    text-align: justify;
    border-radius: 20px;
    margin-bottom: 100px;
    margin-top: 20vh;
}

p {
    color: whitesmoke;
    font-family: "Niconne";
    font-weight: 400;
    font-style: normal;
    font-size: 4.5vh;
}

/*Esto para crear espacio entre los párrafos.*/
br {
    margin-bottom: 15px;
}

#pie {
    background-color: var(--blanco);
    width: 100%;       
    position:fixed;
    bottom: 3%;
    font-family: "Shantell Sans", system-ui;
    color:var(--rojo);
    text-align: center;
    z-index: 20;    
}

/*Cuatro reglas para la animación del menú hamburguesa
y su transición a X.*/
#menu-toggle:checked + .contenedor-lineas .linea-superior {
    transform: translateY(9px) rotate(45deg); /* Baja al centro y rota */
    transition: transform 0.5s ease;
            
}

#menu-toggle:checked + .contenedor-lineas .linea-intermedia {
    transform: translateX(-100%); /* Se desliza hacia la izquierda */
    opacity: 0; /*Desaparece */
    transition: transform 0.5s ease, opacity 0.5s ease;
}

/*El mismo principio que antes.*/
#menu-toggle:checked + .contenedor-lineas .linea-inferior {
    transform: translateY(-9px) rotate(-45deg); /*Sube al centro y rota */
    transition: transform 0.5s ease;    
}

#menu-toggle:checked + .contenedor-lineas {
    transform: rotate(-90deg); /*Gira el conjunto hacia la izquierda */
    transition: transform 0.5s ease;

}
/*Así es como aparecen las líneas del menú desde la izquierda,
al hacer click en el checkbox id="menu-toggle".
La palabra "toggle" se usa en programación para 
referirse a acciones que alternan entre 2 estados (on/off por ejemplo)*/
.transp .menu ul li {
    opacity: 0; /*Inicialmente invisible */
    transform: translateX(-100%);
    background-color: transparent; /*Fuera de la pantalla */    
    padding: 5px;
    width: 90%;
    margin: 5px auto; /*Centramos el contenido */
    transition: transform 0.5s ease, opacity 0.5s ease, background-color 0.5s ease;
}

/*Aquí las reglas para la animación de entrada de los <li> del menú.
Incluyen una animación cada uno para la desaparición de sus
background-color */
#menu-toggle:checked ~ .transp .menu ul li:nth-child(1) {
    opacity: 1; /*Visible */
    transform: translateX(0); /*En su posición final */
    transition-delay: 0s; /*Retraso para la primera línea */
    background-color: red;
    animation: desaparece1 5s ease forwards;
}

#menu-toggle:checked ~ .transp .menu ul li:nth-child(2) {
    opacity: 1;
    transform: translateX(0);
    transition-delay: 0.5s; /*Retraso mayor */
    background-color: rgb(189, 74, 93);
    animation: desaparece2 6s ease forwards;
}

#menu-toggle:checked ~ .transp .menu ul li:nth-child(3) {
    opacity: 1;
    transform: translateX(0);
    transition-delay: 1s;
    background-color: pink;
    animation: desaparece3 7s ease forwards;
}

#menu-toggle:checked ~ .transp .menu ul li:nth-child(4) {
    opacity: 1;
    transform: translateX(0);
    transition-delay: 1.5s;
    background-color: red;
    animation: desaparece4 8s ease forwards;
}

#menu-toggle:checked ~ .transp .menu ul li:nth-child(5) {
    opacity: 1;
    transform: translateX(0);
    transition-delay: 2s;
    background-color: rgb(189, 74, 93);
    animation: desaparece5 9s ease forwards;
}

#menu-toggle:checked ~ .transp .menu ul li:nth-child(6) {
    opacity: 1;
    transform: translateX(0);
    transition-delay: 2.5s;
    background-color: pink;
    animation: desaparece6 6s ease forwards;
}

/*Finalmente, los keyframes de las animation de cada <li>
para la desaparición final de sus background-color */
@keyframes desaparece1 {
    0% {
        background-color: red;
    }

    100% {
        background-color: transparent;
    }    
}

@keyframes desaparece2 {
    0% {
        background-color: rgb(189, 74, 93);
    }
    
    100% {
        background-color: transparent;
    }    
}

@keyframes desaparece3 {
    0% {
        background-color: pink;
    }

    100% {
        background-color: transparent;
    }    
}

@keyframes desaparece4 {
    0% {
        background-color: red;
    }
    
    100% {
        background-color: transparent;
    }    
}

@keyframes desaparece5 {
    0% {
        background-color: rgb(189, 74, 93);
    }
    
    100% {
        background-color: transparent;
    }    
}

@keyframes desaparece6 {
    0% {
        background-color: pink;
    }
    
    100% {
        background-color: transparent;
    }    
}





