* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --blanco: rgba(236, 224, 224, 0.87);
    --rojo:rgb(209, 29, 29);
}

html {
    background-image: url("./img/pexels-enginakyurt-1435895.jpg");
    background-size: 100vw 191vh;
    background-repeat: no-repeat;
       
   
}



#titulo {
    background-color: var(--blanco);
    border: 6px var(--rojo) solid;        
    text-align: center;
    width: 82%;
    font-family: "Shantell Sans", system-ui;
    font-weight: 900;    
    color: var(--rojo);
    padding: 5px;
    text-align: center;
    position:fixed;
    top:40px;
    left: 124px;
    
           
}

#titulo2 {
    background-color: var(--blanco);
    font-family: "Shantell Sans", system-ui;
    color: var(--rojo);
    border: 6px var(--rojo) solid;
    border-radius: 15px;
    font-size: 2vw;
    text-align: center;
    margin: 10px 45px;
    font-size: 1.7em;

    
}

#container {
    background-color: rgb(0, 0, 0, 0.8);    
    height: 124vh;
    width: 85%;
    margin-left:7.5%;    
    padding: 27px;
    text-align: justify;
    border-radius: 20px;
    margin-bottom: 100px;
    margin-top: 20vh;
}

p {
    color: whitesmoke;
    font-family: "Niconne";
    font-weight: 400;
    font-style: normal;
    font-size: 4.5vh;
}

br {
    margin-bottom: 15px;
}

#pie {
    background-color: var(--blanco);
    width: 100%;       
    position:fixed;
    bottom: 3%;
    font-family: "Shantell Sans", system-ui;
    color:var(--rojo);
    text-align: center;    
}