* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --blanco: rgba(236, 224, 224);
    --rojo:rgb(209, 29, 29);
}

html {
    background-image: url("./img/pexels-enginakyurt-1435895.jpg");
    background-size: 100vw 191vh;
    background-repeat: no-repeat;   
}

.contenedor-lineas {
    cursor: pointer;    
    height: 50px;
    width: 50px;      
}

/* Líneas del menú hamburguesa */
.linea-superior, .linea-intermedia, .linea-inferior {
    width: 30px;
    height: 5px;
    background: black;
    border-radius: 100px;
    position: absolute; /* Para posicionar las líneas manualmente
    (lo hacemos en las siguientes reglas)*/
    top: 50px; 
    left: 50px;   
    transform: translateX(-50%); /* Ajuste fino para centrar */
    transition: transform 0.5s ease, opacity 0.5s ease;
    z-index: 3; /*Para que quede encima del menú desplegable*/   
    border:none;/*Esto lo he tenido que añadir por haber
    usado hr en lugar de span o div al hacer las líneas del
    menú hamburguesa. Sirve para eliminar el borde por defecto
    que estropea su aspecto, en especial el de la X que forman
    al aparecer el menú/lista */
}



.linea-superior {
    top: 15px;
}

.linea-intermedia {
    top: 25px;
}

.linea-inferior {
    top: 34px;
}

/*Esto oculta el checkbox que hay en el menú hamburguesa */
input {
    visibility: hidden;
}

#titulo {
    background-color: var(--blanco);
    border: 6px var(--rojo) solid;        
    text-align: center;
    width: 82%;
    font-family: "Shantell Sans", system-ui;
    font-weight: 900;    
    color: var(--rojo);
    padding: 5px;
    text-align: center;
    position:fixed;
    top:40px;
    left: 124px;          
}

#titulo2 {
    background-color: var(--blanco);
    font-family: "Shantell Sans", system-ui;
    color: var(--rojo);    
    border-radius: 15px;
    font-size: 2vw;
    text-align: center;
    margin: 10px 45px;
    font-size: 1.7em;    
}

.desaparecido {
    visibility: hidden;
}

.aparecido {
    visibility: visible;
}

#container {
    background-color: rgb(0, 0, 0, 0.8);    
    height: 124vh;
    width: 85%;
    margin-left:7.5%;    
    padding: 27px;
    text-align: justify;
    border-radius: 20px;
    margin-bottom: 100px;
    margin-top: 20vh;
}

p {
    color: whitesmoke;
    font-family: "Niconne";
    font-weight: 400;
    font-style: normal;
    font-size: 4.5vh;
}

br {
    margin-bottom: 15px;
}

#pie {
    background-color: var(--blanco);
    width: 100%;       
    position:fixed;
    bottom: 3%;
    font-family: "Shantell Sans", system-ui;
    color:var(--rojo);
    text-align: center;    
}