* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
  background-image: url("./img/comic3.jpg");
}

body {
  display: flex;
  flex-direction: row;
}

#izquierda {
  width: 60vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  

}

#derecha {
  display: flex;
  flex-direction: column;
  width: 40vw;
  height: 100vh;
  background-color: rgba(138, 54, 69, 0.647);
  font-family: "Kadwa", serif;
  font-weight: 400;
  font-style: normal;
  z-index: 3;
  color: #f8f8ff;
}

#derecha img {
  width: 35%;
  margin: auto 0; 
  margin-left: 28%; 
}

#derecha h2 {
  text-align: center;
  margin-top: 20px;
}

#derecha p {
  margin-left: 20px;
}

span {
  font-weight:800;
  font-size: 20px;
}

#crucigrama {
  background-image: url("./img/rays.jpg");
  background-size: cover;
  background-position: center;
  display: grid;  
  grid-template-columns: repeat(14, 40px);
  grid-template-rows: repeat(12, 40px);
  width: 580px;
  height: 497px;
  border: ridge #ffffff 1px;
  border-radius: 5px;
  gap: 1px;
    
}

input {
  width: 40px;
  height: 40px;
  background-color: #f8f8ff;
  margin: 2px;
  font-family: "Mynerve", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 28px;
  text-align: center;
  text-transform: uppercase;  
}

div [data-number="1"] {
  grid-column: 8;
  grid-row: 1;
}

#oGoblin {
  grid-column: 9;
  grid-row: 1;
}

#bGoblin {
  grid-column: 10;
  grid-row: 1;
}

#lGoblin {
  grid-column: 11;
  grid-row: 1;
}

#iGoblin {
  grid-column: 12;
  grid-row: 1;
}

#nGoblin {
  grid-column: 13;
  grid-row: 1;
}



div [data-number="11"] {
   grid-column: 13;
   grid-row: 1;
}

div [data-number="7"] {
  grid-column: 2;
  grid-row: 3;
}

#iNightcrawler {
  grid-column: 13;
  grid-row: 2;
}

div [data-number="9"] {
  grid-column: 7;
  grid-row: 3;
}

div [data-number="10"] {
  grid-column: 11;
  grid-row: 3;
}

div [data-number="3"] {
  grid-column: 1;
  grid-row: 6;
}

div [data-number="2"] {
  grid-column: 4;
  grid-row: 4;
}

div [data-number="8"] {
  grid-column: 4;
  grid-row: 6;
}

div [data-number="4"] {
  grid-column: 2;
  grid-row: 8;
}

div [data-number="5"] {
  grid-column: 9;
  grid-row: 9;
}

div [data-number="6"] {
  grid-column: 10;
  grid-row: 12;
}

#gNightcrawler {
  grid-column: 13;
  grid-row: 3;
}

#a1Wakanda {
  grid-column: 2;
  grid-row: 4;
}

#aMarvel {
  grid-column: 5;
  grid-row: 4;
}

#rMarvel {
  grid-column: 6;
  grid-row: 4;
}

#vMarvel {
  grid-column: 7;
  grid-row: 4;
}

#eMarvel {
  grid-column: 8;
  grid-row: 4;
}

#lMarvel {
  grid-column: 9;
  grid-row: 4;
}

#tStorm {
  grid-column: 11;
  grid-row: 4;
}

#hNightcrawler {
  grid-column: 13;
  grid-row: 4;
}

#kWakanda {
  grid-column: 2;
  grid-row: 5;
}

#e1Avengers {
  grid-column: 7;
  grid-row: 5;
}

#oStorm {
  grid-column: 11;
  grid-row: 5;
}

#tNightcrawler {
  grid-column: 13;
  grid-row: 5;
}

#a1Captain {
  grid-column: 2;
  grid-row: 6;
}

#pCaptain {
  grid-column: 3;
  grid-row: 6;
}

#a2Captain {
  grid-column: 5;
  grid-row: 6;
}

#iCaptain {
  grid-column: 6;
  grid-row: 6;
}

#nCaptain {
  grid-column: 7;
  grid-row: 6;
}

#a1America {
  grid-column: 8;
  grid-row: 6;
}

#mAmerica {
  grid-column: 9;
  grid-row: 6;
}

#eAmerica {
  grid-column: 10;
  grid-row: 6;
}

#rAmerica {
  grid-column: 11;
  grid-row: 6;
}

#iAmerica {
  grid-column: 12;
  grid-row: 6;
}

#cAmerica {
  grid-column: 13;
  grid-row: 6;
}

#a2America {
  grid-column: 14;
  grid-row: 6;
}

#nWakanda {
  grid-column: 2;
  grid-row: 7;
}

#hThanos {
  grid-column: 4;
  grid-row: 7;
}

#gAvengers {
  grid-column: 7;
  grid-row: 7;
}

#mStorm {
  grid-column: 11;
  grid-row: 7;
}

#r1Nightcrawler {
  grid-column: 13;
  grid-row: 7;
}

#rDrax {
  grid-column: 3;
  grid-row: 8;
}

#aDrax {
  grid-column: 4;
  grid-row: 8;
}

#xDrax {
  grid-column: 5;
  grid-row: 8;
}

#e2Avengers {
  grid-column: 7;
  grid-row: 8;
}

#aNightcrawler {
  grid-column: 13;
  grid-row: 8;
}

#a3Wakanda {
  grid-column: 2;
  grid-row: 9;
}

#nThanos {
  grid-column: 4;
  grid-row: 9;
}

#rAvengers {
  grid-column: 7;
  grid-row: 9;
}

#iWidow {
  grid-column: 10;
  grid-row: 9;
}

#dWidow {
  grid-column: 11;
  grid-row: 9;
}

#oWidow {
  grid-column: 12;
  grid-row: 9;
}

#wWidow {
  grid-column: 13;
  grid-row: 9;
}

#oThanos {
  grid-column: 4;
  grid-row: 10;
}

#sAvengers {
  grid-column: 7;
  grid-row: 10;
}

#lNightcrawler {
  grid-column: 13;
  grid-row: 10;
}

#sThanos {
  grid-column: 4;
  grid-row: 11;
}

#eNightcrawler {
  grid-column: 13;
  grid-row: 11;
}

#tStark {
  grid-column: 11;
  grid-row: 12;
}

#aStark {
  grid-column: 12;
  grid-row: 12;
}

#rStark {
  grid-column: 13;
  grid-row: 12;
}

#kStark {
  grid-column: 14;
  grid-row: 12;
}

button {
  height: 30px;
  padding: 4px;
  border-radius: 15px; 
  border: 2px solid whitesmoke;
  background-color: rgb(159, 39, 159); 
  cursor: pointer;
  margin-top: 60px;
  margin-left: 170px;
}