* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* General */
body {
    font-family: Arial, sans-serif;
    background-image: url(./img/DIW\ GRID.png);
    background-size: 100vw;
    color: #fff;    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#horario-container {
    width: 60%;    
    text-align: center;
}

/*Horario grid*/
#horario {
    display: grid;
    grid-template-columns: 1.5fr repeat(5, 1fr); /*La columna con las horas un 50% más ancha que el resto, luego repetimos 1fr 5 veces*/
    grid-template-rows: auto repeat(6, 1fr);    /*La primera fila con los días de semana se ajusta a su contenido (mejora el responsive), el resto 1fr de tamaño.*/
    gap: 3px;    
    padding: 10px;    
}

/*Los días de la semana*/
.header {
    background-color: rgb(221, 221, 227);
    text-align: center;
    font-weight: bold;
    padding: 10px 0;    
    font-family: "Aldrich", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 200%;
    color: rgb(6, 6, 246);
}

/*Asignaturas*/
.subject {
    display: flex;
    align-items: center;
    justify-content: center;    
    color: rgb(6, 6, 246);
    font-size: 0.9rem;    
    text-align: center;
    font-family: "Mohave", serif;
    font-optical-sizing: auto;  
    font-style: normal;
    font-size: 180%;
    font-weight:600;
}

/*Colores para cada asignatura*/
.diw {
    background-color: rgb(231, 111, 81);
}
.daw {
    background-color: rgb(42, 157, 143);
}
.dwes {
    background-color: rgb(233, 196, 106);
}
.dwec {
    background-color: rgb(244, 162, 97);
}
.eiem {
    background-color: rgb(38, 70, 83);
}

/*Posicionamientos grid*/

/*Lunes*/
#diw-lunes {
    grid-column: 2;
    grid-row: 2 / 4; 
}

#dwes-lunes {
    grid-column: 2;
    grid-row: 4 / 6; 
}

#daw-lunes {
    grid-column: 2;
    grid-row: 6;
}

#eiem-lunes {
    grid-column: 2;
    grid-row: 7;
}

/*Martes*/
#daw-martes {
    grid-column: 3;
    grid-row: 2 / 4; 
}

#diw-miercoles {
    grid-column: 3 / 5;
    grid-row: 4 / 6; 
}

#dwes-martes {
    grid-column: 3;
    grid-row: 6 / 7; 
}

#dwes-martes2 {
    grid-column: 3 / 5;
    grid-row: 7;
}

/*Miércoles */
#dwec-miercoles1 {
    grid-column: 4;
    grid-row: 2;
}

#dwec-miercoles2 {
    grid-column: 4 / 6;
    grid-row: 3;
}
#eiem-miercoles {
    grid-column: 4;
    grid-row: 6;
}

/*Jueves */
#daw-jueves {
    grid-column: 5;
    grid-row: 2;
}

#dwec-jueves {
    grid-column: 5;
    grid-row: 4; 
}

#dwec-jueves2 {
    grid-column: 5;
    grid-row: 4
}

#dwes-jueves {
    grid-column: 5;
    grid-row: 5;
}

#diw-jueves {
    grid-column: 5;
    grid-row: 6 / 8;
}

/*Viernes */
#dwes-viernes {
    grid-column: 6;
    grid-row: 2 / 4;
}

#eiem-viernes {
    grid-column: 6;
    grid-row: 4;
}

#daw-viernes {
    grid-column: 6;
    grid-row: 5;
}

#dwec-viernes {
    grid-column: 6;
    grid-row: 6 / 8;
}

/*Fila final*/
#final-row {
    grid-column: 1 / 7;
    grid-row: 9
}

/*Estilos para las horas y la fila final.*/
.time {
    grid-column: 1; /* Asegura que todas las horas estén en la primera columna */
    background-color: rgb(221, 221, 227);
    text-align: center;
    font-size: 0.9rem;
    padding: 10px 0;    
    font-family: "Mohave", serif;
    font-optical-sizing: auto;  
    font-style: normal;
    font-size: 170%;
    color: rgb(6, 6, 246);
}

#final-row {
    background-color: rgb(221, 221, 227);
    text-align: center;
    font-size: 0.9rem;
    padding: 10px 0;    
    font-family: "Aldrich", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 200%;
    color: rgb(6, 6, 246);
    margin-top: -3px;
}






