* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --azul:#424EEB;
    --verde: #85FA4B;
    --naranja: #EB6933;
}

html {
    font-family: "Roboto Condensed", serif;
    font-optical-sizing: auto;    
    font-style: normal;
    background-image: url("./img/pattern_brick-wall-2_1_2_0-0_0_1__hsla(100, 95_, 64_, 1.00)_hsla(236, 81_, 59_, 1.00)_hsla(18, 82_, 56_, 1.00)");
}

#container {
    width: 75vw;
    height: 40vw;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
}