
body {
    margin: 0;
    overflow: hidden;
    font-family: 'Fredoka', sans-serif;
    color: white;
}

h1 {
    font-size: 90px;
}

h3 {
    font-size: 40px;
}
.container {
    scroll-snap-type: y mandatory; /*El scroll se hace por eje y */
    overflow-y: scroll; /*Con esto podemos desplazar verticalmente haciendo scroll*/
    height: 100vh;
    padding-top: 1px;
}

.scroll {
    height: 100vh;
    scroll-snap-align: start; /*Marcamos el snap point del scroll en el borde superior de la pantalla */    
    background-size: cover;
    background-position: top;
    position: relative;
    overflow: hidden;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

h1, h3 {
    margin: 0;
    padding: 10px;
    position: absolute;  
}

.center {
    top: 5%;
    left: 50%;
    transform: translateX(-50%); /*centramos bien el texto */
    text-align: center;
}

.center + h3 {
    top: calc(5% + 100px); /*Esto para que los h3 queden debajo de los h1*/
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.rightSide {
    top: 5%;
    right: 2%; 
    text-align: right;
}

.rightSide + h3 {
    top: calc(5% + 100px);
    right: 2%;
    text-align: right;
}

.leftSide {
    top: 5%;
    left: 2%;
    text-align: left;
}

.leftSide + h3 {
    top: calc(5% + 100px);
    left: 2%;
    text-align: left;
}

