* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-color: rgb(208, 234, 243);
}

p {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
}

#contributors {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
}


/*Con esto evito que estas section se posicionen
debajo del contenedor fixed al navegar hacia ellas. */
#contributors section {
    scroll-margin-top: 80px; /* Ajusta según la altura de #fijo */
}

/*Estilos para los nombres de los personajes
top contributors */
span {
    font-size: 20px;
    font-weight: 600;
    color:rgb(31, 31, 159);
}

h1 {
    font-size: 270%;    
}

#trivia section h3,
#contributors section h3,
#places section h3 {
    font-size: 1.4em;
    text-align: center;
    color:rgb(31, 31, 159);
}

.articTitle {
    font-size: 150%;
}

h1, h3, #places footer {
    font-family: "Sour Gummy", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

#fijo {
    position:fixed;
    top: 0px;
    left: 0;
    background-color: rgb(31, 31, 159);
    color: rgb(208, 234, 243);
    width: 100%;
    text-align: center;
    height: 70px;
}

#rrss {
    font-size: 1.7em;    
    
} 

#rrss a {
    color:rgb(208, 234, 243);
}

#subHeader {
    display: flex;
    flex-direction: row;
    margin-top: 80px;
    height: 20%;
}

#subHeader img {
    width: 5%;
    margin-left: 15px;
}

h1 {
    margin: auto;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;    
}

/*Quita los estilos predeterminados
de los enlaces*/
a {
    text-decoration: none;
}

/*Estilos para los enlaces cuando haces hover
sobre ellos. */
#rrss a:hover {
    color: rgb(136, 19, 19);
    text-shadow: 2px 2px 5px lightblue,   /* Sombra azul claro */
    -2px -2px 10px skyblue;  /* Sombra más difusa azul cielo */

}

/*Los elementos dentro de main están en fila.
Luego, dentro de cada uno de ellos, se distribuyen
en columna. */
main {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

li {
    font-family: "Sour Gummy", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5em;    
    background-color: black;
    width: 16.5%;    
    text-align: center;
    padding: 10px;

}

/*Estilos en hover para el menú superior de nav. */
li:hover {
    background-color: rgb(9, 182, 182);
}

li a {
    color:rgb(208, 234, 243);
}

section {    
    background-image: url("./img/pattern_snowflakes2.png");
    background-size: 500px;    
    border: 3px rgb(31, 31, 159) solid; 
    border-radius: 5px;
    padding: 6px;   
} 

#trivia {
    display: flex;
    flex-direction: column;
    width: 25%;
    gap:15px;
    margin-left: 20px;
}

#trivia section {
    display: flex;
    flex-direction: column;
    width: 80%;
}

#trivia section h3 {
    background-color: aquamarine;
}

#contributors {
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 15px;    
}

#contributors img {    
    width: 12%;
    float: left;
    margin-right: 4px;
}

#places {
    display: flex;
    flex-direction: row;
    width: 35%;
    justify-content: space-evenly;
}

#left, #right {
    display: flex;
    flex-direction: column;
    width: 45%;    
    gap: 14px;
}

/*He tenido que añadir esto para 
posicionar la columna derecha de
Places to visit. */
#right > :first-child {
    margin-top: 50px;
}

#places img {
    width: 100%;
}

#places footer {
    background-color: lightseagreen;
    text-align: center;
    height: 30px;
    display: flex;
    justify-content: center;           
}

#places a {
   margin-top: 3px;    
}

#places a:hover {
    color:rgb(145, 20, 20);
}

#mainFooter p {
    background-color: rgb(31, 31, 159);
    color:rgb(168, 197, 222);
    text-align: center;
    padding: 10px;
    font-size: 1.3em;
}

#fijo p {
    font-family: "Sour Gummy", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.3em;
}

#trivia > section:nth-child(even) {
    margin-left:15%;
    background-image: url("./img/snowflakes3.png");
    background-size: 500px;    
}

@media (max-width: 768px) {
    #places {
        flex-direction: column;
    }

    #trivia > section:nth-child(even) {
        margin: 0 auto;
    }
}

@media (max-width: 500px) {
    main {
        flex-direction: column;
    }

    .articTitle h3 {
        font-size: 3px;
    }

    #places h3 {
        font-size: 3px;
    }
    
    nav ul {
        flex-direction: column;        
    }

    /*intentando eliminar el margen
    alterno del contenedor trivia pero
    no hay manera. */
    #trivia > section:nth-child(even) {
        margin: 0 auto;
    }

    #trivia, #contributors, #places {
        width: 100%;
    }
    
    #trivia section,
    #contributors section,
    #places section {
        width: 100%;
    }

    #places #left section,
    #places #left section {
        width: 100%;
    }
}