* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
}

h3 {
    background-color: black;
    color: white;
    padding: 20px;
    font-size: 25px;
    text-align: center;
}

#naranja {
    background-color:#F15946;

}

#naranja div {
    background-color:#f9c22e;
    color:#F15946;
    border: 2px solid black;
    width: 21vw;
    height: 40%;
}

#celeste {
    color: white;
    background-color: #53b3cb;
}

#celeste div {
    border: 2px solid white;
}

.naranja {
    background-color:#F15946;

}

.chicle {
    background-color: #e01a4f;
}

.burdeos {
    background-color: #8b0000;
}