* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
}

h3 {
    background-color: black;
    color: white;
    padding: 20px;
    font-size: 25px;
    text-align: center;
    height: 10vh;
}

#naranja {
    background-color:#F15946;
    height: 30vh;
    width: 100vw;
    padding: 20px 40px;
    overflow: hidden;

}

#naranja div {
    background-color:#f9c22e;
    color:#F15946;
    border: 2px solid black;
    width: 21vw;
    height: 40%;
    margin: 10px;
    padding: 5px;
    
}

/*He aprendido que el orden de las reglas CSS cuando estamos jugando con float es vital. 
Creo que el profe nos ha confundido un poco con los números que le ha asignado a cada
contenedor, con la intención de hacernos pensar, que no lo hacemos bastante. */

#uno {
    float: left;
}

#dos {
    float: left;
}

#tres {
    float: left;
}

#cuatro {
    float:left;
}

#cinco {
    float:left;
}

#seis {
    float: left;
}

#siete {    
    float:left;         
}

#celeste {
    color: white;
    background-color: #53b3cb;    
    height: 60vh;
    width: 100vw;
   
}

#naranja2, #naranja3 {
    background-color:#F15946;
    width: 60%;
    padding: 5px;
    border: 2px solid white;    
    margin: 15px 30px;   
    
}

#naranja2 {
    height: 33%;
    float: left;
    
}

#chicle {
    float:right;
    background-color: #e01a4f;
    width: 30%;
    height: 75%;
    text-align: justify;
    padding: 5px;    
    border: 2px solid white;
    margin: 15px 20px 15px 0;
        
}

#naranja3 {
    height: 40%;
    float: left;
    
}

#burdeos {
    background-color: #8b0000;
    width: 80%;
    height: 15%;
    padding: 10px;
    border: 2px solid white;
    margin-left: 10vw;
    float: left;    
    
}

footer {
    height: 10vh;
    background-color: black;   
    
}