* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
}

h3 {
    background-color: black;
    color: white;
    padding: 26px;
    font-size: 3vh;
    text-align: center;
    height: 10vh;
}

#naranja {
    background-color:#F15946;
    height: 30vh;
    width: 100vw;
    padding: 20px 40px;
    overflow: hidden;
}

#naranja div {
    background-color:#f9c22e;
    color:#F15946;
    border: 2px solid black;
    width: 21vw;
    height: 40%;
    margin: 10px;
    padding: 5px;
    float: left;    
}

/*Para conseguir que el contenedor 7 pasara a la línea de abajo he optado por
crear un div vacío, siguiendo los magníficos apuntes de este módulo y ocultarlo
con la propiedad visibility: hidden */
#vacio {
    visibility: hidden;
}

/*He aprendido que el orden de las reglas CSS cuando estamos jugando con float es vital. 
Creo que el profe nos ha confundido un poco con los números que le ha asignado a cada
contenedor, con la intención de hacernos pensar, que no lo hacemos bastante. */
#celeste {
    color: white;
    background-color: #53b3cb;    
    height: 90vh;
    width: 100vw;   
}

/*Los elementos dentro del contenedor celeste han necesitado muchos ajustes de márgenes
en % para que todo quedara bien, así como cambiar el orden de "chicle" en el html. */

#naranja2, #naranja3 {
    background-color:#F15946;
    width: 60%;
    padding: 5px;
    border: 2px solid white;    
    margin: 2% 1%;    
}

#naranja2 {
    height: 33%;
    float: left;
    margin-left: 4%;    
}

#chicle {
    float:right;      
    background-color: #e01a4f;
    width: 25%;
    height: 79.7%; /*Ajustando la altura al dedillo para que el lado de abajo esté alineado con
    el lado inferior del contenedor naranja3*/
    text-align: justify;
    padding: 7px;    
    border: 2px solid white;
    margin-right: 5%;
    margin-left: 3%;
    margin-top: 2%;             
}


#naranja3 {
    height: 40%;
    float: left;
    margin-left: 4%;   
}

#burdeos {
    background-color: #8b0000;
    width: 80%;
    height: 10%;
    padding: 10px;
    border: 2px solid white;
    margin-left: 10%;
    margin-top: 1%;    
    float: left;    
}

footer {
    height: 10vh;
    background-color: black;    
}