* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
}

h3 {
    background-color: black;
    color: white;
    padding: 20px;
    font-size: 25px;
    text-align: center;
    height: 10vh;
}

#naranja {
    background-color:#F15946;
    height: 30vh;
    width: 100px;

}

#naranja div {
    background-color:#f9c22e;
    color:#F15946;
    border: 2px solid black;
    width: 21vw;
    height: 40%;
    margin: 5px;
}

#celeste {
    color: white;
    background-color: #53b3cb;
    height: 60vh;
    width: 100px;
}

#celeste div {
    border: 2px solid white;
}

#naranja1 #naranja2 {
    background-color:#F15946;

}

#chicle {
    background-color: #e01a4f;
    width: 30%;
    height: 75%;
}

#burdeos {
    background-color: #8b0000;
}