* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-image: url("./img/burger.jpg");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    
}

h1 {
    font-family: "Permanent Marker", sans-serif;
    color: white;
    margin-left: 7%;
    margin-top: 6%;
    font-size: 4vw;
    word-spacing: 2px;
    float: left;
}

#parrafada {
    background-color: #f5f5f580;
    font-family: "Cantarell", sans-serif;
    padding: 10px;
    border-radius: 15px;
    margin-left: 7%;
    margin-top: 5%;
    width: 55%;
    color: #000000;
    float: left;
}

.fondo {
    position: fixed; /* Mantener el menú lateral fijo */
    top: 0;
    right: 0;
    height: 100%;
    width: 30%;
    background: linear-gradient(180deg, rgba(50, 19, 37, 0.9), rgba(95, 15, 64, 0.9), rgba(206, 74, 17, 0.9));
    transform: translateX(100%); /* Fuera de la vista inicialmente */
    transition: transform 0.5s ease;
    z-index: 1;
}

.transp {
    background: url(./img/texture.png) center/cover no-repeat;
    height: 100%;
    opacity: 0.5;

}    

input {
    visibility: hidden;
}

.menu {
    position: relative;
    z-index: 2;
    padding: 20px;
    color: #DAFF7D;
}

img[alt="logo"] {
    display: block;
    margin: 20px auto;
    width: 150px;
    border-radius: 50%;
}

.menu ul {
    color: #DAFF7D;
    list-style: none;
    padding: 0;
    text-align: center;
}

.menu ul li {
    margin: 20px 0;
}

.menu ul li a {
    color: inherit;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s ease;
}

.menu ul li a:hover {
    color: white;

}    

a {
    text-decoration: none;
}


.menHam {   
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 3; /* Encima del menú lateral */
}

#menu-toggle {
    display: none;
}

.contenedor-lineas {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    background: transparent;
    z-index: 3; /* Encima del menú lateral */
}

/* Líneas del menú hamburguesa */
.linea-superior, .linea-intermedia, .linea-inferior {
    width: 30px;
    height: 4px;
    background: #f1f113;
    margin: 3px 0;
    border-radius: 5px;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

/* Mostrar menú lateral al activar el checkbox */
#menu-toggle:checked ~ .fondo {
    transform: translateX(0); /* El menú se muestra completamente */
}

/* Líneas transformándose en X */
#menu-toggle:checked + .contenedor-lineas .linea-superior {
    transform: rotate(45deg) translate(5px, 5px);
}

#menu-toggle:checked + .contenedor-lineas .linea-inferior {
    transform: rotate(-45deg) translate(5px, -5px);
}

#menu-toggle:checked + .contenedor-lineas .linea-intermedia {
    opacity: 0;
}


hr {
    height: 5px; /* Grosor de la línea */
    width: 30px; /* Longitud de la línea */
    background-color: #f1f113; /* Color de la línea */
    margin-top: 3px; /* Centrar la línea horizontalmente */   
    border-radius: 100px;
    

}