* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-image: url("./img/burger.jpg");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    
}

h1 {
    font-family: "Permanent Marker", sans-serif;
    color: white;
    margin-left: 10%;
    margin-top: 6%;
    font-size: 4vw;
    word-spacing: 2px;
}

#parrafada {
    background-color: #f5f5f580;
    font-family: "Cantarell", sans-serif;
    padding: 10px;
    border-radius: 15px;
    margin-left: 10%;
    margin-top: 5%;
    width: 55%;
    color: #000000;
}

.fondo {
    background-color: #321325e6 (0%), 5f0f40e6 (50%), #ce4a11e6 (100%);
    height: 500px;
    width: 30%;
    margin-left: 70%;
    
}

.transp {
    background-image: url(./img/texture.png);    
    position: relative;
    height: 500px;
    width: 30%;
}

img[alt="logo"]{
    width: 190px;
    border-radius: 50%;
    margin-left: 25%;
    
}

ul {
    color: #DAFF7D;
    list-style: none;
    text-align: center;
}