* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*Situamos la foto de las hamburguesas adecuadamente
(cosa que debería ser básica pero a veces puede ser un
dolor de cabeza, al menos para mí) */
html {
    background-image: url("./img/burger.jpg");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;    
}

h1 {
    font-family: "Permanent Marker", sans-serif;
    color: white;
    margin-left: 7%;
    margin-top: 6%;
    font-size: 4vw;
    word-spacing: 2px;
    float: left;/*He situado el título con un float ¿por qué no? */
}

#parrafada {
    background-color: #f5f5f580;
    font-family: "Cantarell", sans-serif;
    padding: 10px;
    border-radius: 15px;
    margin-left: 7%;
    margin-top: 5%;
    width: 55%;
    color: #000000;
    float: left;/*Y el párrafo también. Con lo harto que terminé
    del float y los pingüinos y fíjate, vuelvo a por más.*/
}

.fondo {
    position: fixed;/*Con esto y las 2 propiedades siguientes
    hacemos que el menú lateral se quede pegado a la esquina superior
    derecha, como debe ser. */
    top: 0;
    right: 0;
    height: 100%;
    width: 30%;
    /*Degradado con transparencia de regalo*/ 
    background: linear-gradient(
        to bottom,
        rgba(50, 19, 37, 0.9) 0%, 
        rgba(95, 15, 64, 0.9) 50%, 
        rgba(206, 74, 17, 0.9) 100%
    );
    /*Esto es lo que mantiene oculto el menú lateral,
    pues se mueve sobre el eje horizontal (X) un 100%
    de su propio ancho hacia la derecha. Luego veremos
    como aparece con el valor translateX(0), como si fuera
    una puerta corredera moviéndose por un riel.*/    
    transform: translateX(100%);
    transition: transform 0.5s ease, opacity 0.5s ease;
    /*Veremos varios z-index en esta práctica, para hacer
    que cada elemento aparezca sobre otro o debajo, según
    el caso.*/
    z-index: 1;    
}

.transp {
    /*La textura de madera con sus estilos que consiguen
    que sea transparente y que con otro z-index quede sobre
    el color que hay en la regla .fondo {} */
    background: url(./img/texture.png);
    height: 100%;
    opacity: 0.6;
    /*Ahora posicionamos al elemento transp con su menú dentro
    de manera absoluta respecto a .fondo, que está fixed,
    y top/left lo situan en la esquina superior izquierda de su
    contenedor */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}

/*Esto oculta el checkbox que hay en el menú hamburguesa */
input {
    visibility: hidden;
}

.menu {
    position: relative;
    font-family: "Cantarell", sans-serif;    
    z-index: 10; /*Nos aseguramos que los enlaces del menu
    queden sobradamente encima de todas las capas anteriores.
    Esto es importante, porque si hay alguna capa encima que tenga
    transparencia, veríamos el texto pero no podríamos hacer click
    sobre él. */
    padding: 20px;
    padding-top: 100px;        
}

img[alt="logo"] {
    display: block;
    margin: 20px auto; /*Margen arriba y abajo y
    automático a los lados para centrar la imagen */
    width: 150px;/*Igual ancho que alto aseguran
     que sea un cuadrado, lo cual facilita su conversión
     a círculo perfecto con border-radius */
    height: 150px; 
    border-radius: 100%;    
}

.menu ul {    
    list-style: none;/*Quitamos las viñetas propias de la 
    lista desordenada*/    
    text-align: center;    
}

/*Separamos adecuadamente cada elemento
de la lista */
.menu ul li {
    margin: 20px;    
}

.menu ul li a {    
    text-decoration: none; /*Eliminamos el subrayado que llevan
    los enlaces por defecto*/
    font-size: 1.2em;/*Aquí he usado un em, que los uso poco, pobrecillos.*/    
    color:#DAFF7D;
}
/*Aquí lo que pasa cuando hacemos hover sobre los elementos del
menú: cambio de color, aparece el subrayado y la fuente se pone en
negrita*/
.menu ul li a:hover {
    color: white;
    text-decoration: underline;
    font-weight: bold;
} 

/*Nuestro menú hamburguesa, fijado en su posición,
y con un z-index que lo mantenga sobre todas las capas,
incluso cuando aparece el contenedor del menu/lista */
.menHam {   
    position: fixed;
    top: 25px;    
    right: 40px;
    z-index: 3;
}

/*Se convierte el cursor en pointer. En este caso
no necesitamos añadir la pseudo-clase :hover, ya que la propiedad
cursor no la necesita, se activa ella solita.*/
.contenedor-lineas {
    cursor: pointer;    
    height: 50px;
    width: 50px;      
}

/* Líneas del menú hamburguesa */
.linea-superior, .linea-intermedia, .linea-inferior {
    width: 30px;
    height: 5px;
    background: #f1f113;
    border-radius: 100px;
    position: absolute; /* Para posicionar las líneas manualmente
    (lo hacemos en las siguientes reglas)*/    
    transform: translateX(-50%); /* Ajuste fino para centrar */
    transition: transform 0.5s ease, opacity 0.5s ease;
    z-index: 3; /*Para que quede encima del menú desplegable*/   
    border:none;/*Esto lo he tenido que añadir por haber
    usado hr en lugar de span o div al hacer las líneas del
    menú hamburguesa. Sirve para eliminar el borde por defecto
    que estropea su aspecto, en especial el de la X que forman
    al aparecer el menú/lista */
}

.linea-superior {
    top: 10px;
}

.linea-intermedia {
    top: 22.5px;
}

.linea-inferior {
    top: 34px;
}

/* Mostrar menú lateral al activar el checkbox.
 Cuando el checkbox #menu-toggle está marcado (:checked),
 selecciona el elemento .fondo que es un hermano posterior del checkbox. */
#menu-toggle:checked ~ .fondo {
    transform: translateX(0); /*El menú se muestra completamente,
     como comentamos al principio.*/
}

/*Líneas transformándose en X. Seleccionamos el siguiente hermano
 inmediato de #menu-toggle, que en este caso es .contenedor-lineas y, 
 dentro de este, seleccionamos a su hijo el elemento .linea-superior*/
#menu-toggle:checked + .contenedor-lineas .linea-superior {
    transform: rotate(45deg) translate(11.5px, 11.5px);
    background-color: #ff685a;    
}
/*El mismo principio que antes.*/
#menu-toggle:checked + .contenedor-lineas .linea-inferior {
    transform: rotate(-45deg) translate(5px, -5px);
    background-color: #ff685a;
}

#menu-toggle:checked + .contenedor-lineas .linea-intermedia {
    opacity: 0;
}

@media screen and (max-width:768px) {
    h1 {
        margin-top: 40px;
        margin-right: 65px;
        margin-left: 12px;
        font-size: 15px;
    }
    
    #parrafada {
        width: 80%;
        font-size: 10px;
        margin-top: 40px;
    }

    .fondo {
        height: 50%;
        width:100%;
    }

    .menu {        
        padding-top: 5px;
    }

    .menu ul li {
        font-size: 12px;
        margin: 11px;
        z-index: 10;           
    }
    /*Con esto modificamos la posición y
    transparencia de la imagen como pide la
    práctica. */
    img[alt="logo"] {
        position:absolute;
        left: 56px;
        bottom: 17px;                        
        width: 200px;
        height: 200px; 
        border-radius: 100%;
        opacity: 0.2;
        z-index: -1;    
    }
    /*Eliminamos los estilos producidos por :hover
    en el texto del menú, ya que un móvil no tiene cursor. */
    .menu ul li a:hover {        
        text-decoration: none;
        font-weight: normal;
        color: #DAFF7D;        
    } 

    
    
}
