* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-image: url("./img/burger.jpg");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    
}

h1 {
    font-family: "Permanent Marker", sans-serif;
    color: white;
    margin-left: 7%;
    margin-top: 6%;
    font-size: 4vw;
    word-spacing: 2px;
    float: left;
}

#parrafada {
    background-color: #f5f5f580;
    font-family: "Cantarell", sans-serif;
    padding: 10px;
    border-radius: 15px;
    margin-left: 7%;
    margin-top: 5%;
    width: 55%;
    color: #000000;
    float: left;
}

.fondo {
    position: fixed; /* Mantener el menú lateral fijo */
    top: 0;
    right: 0;
    height: 100%;
    width: 30%;
    background: linear-gradient(180deg, rgba(50, 19, 37, 0.9), rgba(95, 15, 64, 0.9), rgba(206, 74, 17, 0.9));
    transform: translateX(100%); /* Fuera de la vista inicialmente */
    transition: transform 0.5s ease;
    z-index: 1;
}

.transp {
    background: url(./img/texture.png) center/cover no-repeat;
    height: 100%;
    opacity: 0.5;

}    

input {
    visibility: hidden;
}

.menu {
    position: relative;
    z-index: 2;
    padding: 20px;
    color: #DAFF7D;
}

img[alt="logo"]{
    width: 190px;
    border-radius: 50%;
    margin-left: 17%;
    margin-top: 20%;
    
}

ul {
    color: #DAFF7D;
    list-style: none;
    text-align: center;
    font-family: "Cantarell", sans-serif;
    z-index: 3;
    position: relative;
}

a {
    text-decoration: none;
}

li {
    padding-bottom: 20px;
}

.menHam {   
    margin-left: 95%;
    margin-top: 3%;
    width: 1%;
}



hr {
    height: 5px; /* Grosor de la línea */
    width: 30px; /* Longitud de la línea */
    background-color: #f1f113; /* Color de la línea */
    margin-top: 3px; /* Centrar la línea horizontalmente */   
    border-radius: 100px;
    

}