* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-image: url(./img/road.jpg);
    background-size:100% 110vh;
    background-position: top;    
}

h1 {
    font-family: "Lunasima", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #cb1da0;
    transform: scaleX(1.3);
    display: inline-block;
    font-size: 3em;
    text-align: center;    
}

hr {
    width: 100%;
    height: 4px;    
    margin-left:0.8%;
    background-color: #cb1da0;
    border: none;
    margin-bottom: 35px;
}

main p {
    color: #cb1da0;
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

main {
    position: relative;
    text-align: center;
    margin-top: 8%;
    margin-right:15% ;
}

#principal {
    position:absolute;
    left: 30%;
    width: 60%;
    border:4px solid #cb1da0;
    border-radius: 10px; 
    padding: 20px 30px 100px;
    background-color:#120f0fa3 ;  
}

