* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-image: url(./img/road.jpg);
    background-size: 100% 110vh;
    background-position: top;    
}

/* Posicionar el menú hamburguesa en la esquina superior derecha */
.contenedor_icono_burger {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    cursor: pointer;    
}

/* Líneas del menú hamburguesa */
.linea-superior, .linea-intermedia, .linea-inferior {
    width: 30px;
    height: 5px;
    background: #cb1da0;
    border-radius: 100px;
    position: absolute;
    left: -30%; /* Centra las líneas horizontalmente */    
    transition: transform 0.5s ease, opacity 0.5s ease, background-color 0.5s ease;
    border:none;
    z-index: 10;
}

/* Posicionar las líneas */
.linea-superior {
    top: 12px;
    transform-origin: right;
}

.linea-intermedia {
    top: 22px;
    opacity: 1;
}

.linea-inferior {
    top: 32px;
    transform-origin: right;
}

/* Círculo para la "X" */
.contenedor_icono_burger::before {
    content: "";
    position: absolute;
    width: 39px;
    height: 39px;
    border: 3px solid white;
    background-color: #f0f0f055;
    border-radius: 50%;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.contenedor_icono_burger.icono_cruz::before {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;    
}

/* Animaciones para las líneas */
.contenedor_icono_burger.icono_cruz .linea-superior {
    transform: translate(-50%, 0) rotate(585deg); /* Centrar y rotar */
    background-color: #d1d1d1;
    top: 13px;
    left:-0.9px; /* Ajustar para centrar verticalmente */
}

.contenedor_icono_burger.icono_cruz .linea-inferior {
    transform: translate(-50%, 0) rotate(-585deg); /* Centrar y rotar */
    background-color: #d1d1d1;
    top: 33px; /* Ajustar para centrar verticalmente */
    left:-0.8px;
}

.contenedor_icono_burger.icono_cruz .linea-intermedia {
    opacity: 0;
    transform: translateX(-50px);
}

/* Estilos principales */
#principal h1 {
    font-family: "Lexend Mega", serif;
    color: #cb1da0;
    
    text-align: center;
    font-size: 3em;      
}

#principal hr {
    width: 70%;
    height: 4px;    
    background-color: #cb1da0;
    border: none;
    margin-bottom: 35px;
    margin-top: 8px;
    margin-left: 15%;    
}

main p {
    color: #cb1da0;
    font-family: "Lexend Mega", serif;
    font-size: 1.2em;
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

main {
    position: relative;
    text-align: center;
    margin-top: 7%;
}

#principal {
    width: 80%;
    height: 65vh;
    border: 4px solid #cb1da0;
    border-radius: 10px; 
    background-color: #120f0fa3;
    padding: 4%; 
    margin-left: 10%; 
}

br {
    margin-bottom: 15px;
}

/* Contenedores iniciales ocultos */
#contenedor_poema, #contenedor_menu {
    position: fixed;
    top: 0;
    height: 100vh;    
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(-100%);
    transition: transform 0.5s ease, opacity 0.5s ease;
    opacity: 0;
}

#contenedor_poema {
    left: 0;
    background-color: #1c262b;
    font-family: "Habibi", serif;
    color: #d1d1d1;
    width: 40%;
    padding: 0px 100px 20px;
    text-align: center; 

}

#contenedor_menu {
    right: 0;
    left: auto;
    background-image: url('./img/background.jpg');
    background-size: cover;
    transform: translateX(100%);
    width: 60%;
}

/* Cuando están visibles */
#contenedor_poema.visible, #contenedor_menu.visible {
    transform: translateX(0);
    opacity: 1;
}

/* Menú dentro del contenedor */
#contenedor_menu ul {
    list-style: none;
    text-align: center;
    padding: 0;
}

#contenedor_menu ul li {
    margin: 20px 0;
}

#contenedor_menu ul li a {
    text-decoration: none;
    font-family: "Lexend Mega", serif;
    font-size: 1.5em;
    color: #d1d1d1;
    transition: color 0.3s ease;
}

#contenedor_menu ul li a:hover {
    color: #cb1da0;
}

#contenedor_menu h1 {
    color: #d1d1d1;
    font-family: "Lexend Mega", serif;
}




