* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-image: url(./img/road.jpg);
    background-size: 100% 110vh;
    background-position: top;    
}

/* Posicionar el menú hamburguesa en la esquina superior derecha */
.contenedor_icono_burger {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

/* Líneas del menú hamburguesa */
.linea-superior, .linea-intermedia, .linea-inferior {
    width: 30px;
    height: 5px;
    background: #cb1da0;
    border-radius: 100px;
    position: absolute;
    left: 10px;
    transition: transform 0.5s ease, opacity 0.5s ease, background-color 0.5s ease;
    border:none;
}

/* Posicionar las líneas */
.linea-superior {
    top: 12px;
    transform-origin: right;
}

.linea-intermedia {
    top: 22px;
    opacity: 1;
}

.linea-inferior {
    top: 32px;
    transform-origin: right;
}

/* Círculo para la "X" */
.contenedor_icono_burger::before {
    content: "";
    position: absolute;
    width: 59px;
    height: 59px;
    border: 3px solid white;
    background-color: rgb(255, 255, 255, 0.5);
    border-radius: 50%;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.contenedor_icono_burger.icono_cruz::before {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}

/* Animaciones para las líneas */
.contenedor_icono_burger.icono_cruz .linea-superior {
    transform: rotate(585deg); /* 360° + 225° */
    background-color: white;
}

.contenedor_icono_burger.icono_cruz .linea-inferior {
    transform: rotate(-585deg); /* -360° - 225° */
    background-color: white;
}

.contenedor_icono_burger.icono_cruz .linea-intermedia {
    opacity: 0;
    transform: translateX(-50px);
}

/* Estilos principales */
h1 {
    font-family: "Lato", sans-serif;
    color: #cb1da0;
    transform: scaleX(1.2);
    text-align: center;
    font-size: 3em;      
}

#principal hr {
    width: 54%;
    height: 4px;    
    background-color: #cb1da0;
    border: none;
    margin-bottom: 35px;
    margin-top: 8px;
    margin-left: 23%;    
}

main p {
    color: #cb1da0;
    font-family: "Noto Serif", serif;
    font-size: 1.2em;
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

main {
    position: relative;
    text-align: center;
    margin-top: 7%;
}

#principal {
    width: 80%;
    height: 65vh;
    border: 4px solid #cb1da0;
    border-radius: 10px; 
    background-color: #120f0fa3;
    padding: 4%; 
    margin-left: 10%; 
}
