
/*Tipografía*/
* {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.radio {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style:normal;
}

h1 {
    color: #800080;
    text-align: center;
}

h3 {
    font-style: italic;
    color: #53098b;
}

.nomApe::placeholder {
    font-style: italic;
}

#intereses label {
    font-style: italic;
}

/*Colores*/
body {
    background-color: #faebd7;
}

.datos {
    background-color: #ffc0cb;
    margin-left: 8%;
    margin-right: 8%;
}

.nomApe:focus {
    border: 2px solid #5301b2;
    
}

.text_grey:focus {
    border: 2px solid #5301b2;
    background-color: orange;
}

input[type="checkbox"]:focus {
    background-color: #ff0000;
    color: #ffffff;
}

input[type="radio"]:focus {
    color: #ff00b7;
}

input[name="asignaturas"]:focus {
    border: 2px solid #5301b2;
    background-color: #008000;
}

input[type="number"]:focus {
    background-color: orange;
}

legend {
    color: #ffffff;
    background-color: #800080 ;
}

label {
    color:#fb0606b2;
}

.radio {
    color:#890fe6;
}

.nomApe {
    background-color: hsl(313, 80%, 70%);
    color: #504242;
}

.text_grey {
    background-color: #b2b0b0;
}

.naranja {
    background-color: #f2c36b;
}

#boton_verde {
    background-color: rgb(109, 241, 109);
    color: green;
    width: 200px;
    height: 35px;
    border-radius: 10px;
    margin-left: 40%;
}

#boton_rojo {
    background-color: rgb(237, 106, 106);
    color: rgb(138, 8, 8);
    width: 200px;
    height: 35px;
    border-radius: 10px;    
}

ul {
    list-style-image: url(./img/Captura\ de\ pantalla\ 2024-10-30\ 203346.png);    
}






