body {
    background: linear-gradient(180deg, #4b0082 50%, #db7093 100%);
    margin: 0;        
    font-family: 'REM', sans-serif;
    font-size: xx-large;
    text-align: center;
    height: 100vh;
    
    
}

h1 {
    opacity: 0;
    margin: 20px 0;
    padding: 2%;
    animation: aparecer 2s ease-in 2s forwards;    
     
}

h2 {
    color: #4b0085;
    margin-top: 40px;
    
}

.container {
    display: inline-block;
    text-align: center;
    background-color: transparent;
    border: 3px solid white;
    border-radius: 10px;
    padding: 20px;    
    height: 80%;
    width: 30%;
    text-align: center;
    margin: 0 10px;
    vertical-align: top;
    transition: background-color 4s ease-in-out;
    
}

.container:hover {
    background-color: #008a8a;
    color: black;
}

.container i {
    color: white;
    font-size: 370px;
    margin-bottom: 10px;
    padding-top: 20px;
    transition: transform 4s ease, color 4s ease;
}

.container i:hover {
    transform: scale(1.1);
    color: #4b0085;
    
}

.container p {
    opacity: 0;
    color: transparent;
    font-size:x-large;
    line-height: 1.5;
    transform-origin: center;
    transform: rotate(90deg) scale(0);
    transition: opacity 0.5s linear;
}

.container:hover p {
    opacity: 1;
    animation: colorParrafos 5s linear forwards, rotacionParrafos 5s linear forwards;
}

@keyframes colorParrafos {
    0% {
        color: transparent;
    }
    50% {
        color: black;
    }

    100% {
        color: white;
    }
}

@keyframes rotacionParrafos {
    0% {
        transform: rotate(90deg) scale(0); /* Rotado verticalmente y sin tamaño */
    }
    
    100% {
        transform: rotate(0deg) scale(1); /* Termina horizontal y a tamaño completo */
    }

}

@keyframes aparecer {
    0% {
        opacity: 0; /* Transparente al inicio */
    }
    100% {
        opacity: 1; /* Opaco al final */
        color: #db7093;
    }
}



