* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: "Electrolize", serif;
    font-weight: 400;
    font-style: normal;
}

ul {
    display: flex;
    flex-direction: row;
    list-style: none;        
    background-color: #5e1357;
    height: 50px;    
}

li {
    padding: 14px 38.3px;    
    border-right: #f5f5f5 solid 1px;
    text-align: center;    
}

li:hover {
    background-color: #854a8d;
}

a {
    text-decoration: none;
    color:#f5f5f5;
    font-size: 20px;          
}

#primero {
    text-align: start; 
    width: 500px;     
}

.lienzo {
    display: flex;
    justify-content: center;
    align-items: center;

}

.lienzoInicio {
    background-image: url("./img/foto1.jpg");
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.lienzoSMR {
    background-image: url("./img/foto2.jpg");
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.lienzoASIR {
    background-image: url("./img/foto3.jpg");
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.lienzoDAW {
    background-image: url("./img/foto4.jpg");
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.lienzoDAM {
    background-image: url("./img/foto5.jpg");
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.lienzoCibersec {
    background-image: url("./img/foto6.jpg");
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.lienzoVideoJuegos {
    background-image: url("./img/foto14.jpg");
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.miniLienzo {
    width: 80vw;
    height: 80vh;
    border-radius: 15px;
    background-color: rgb(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.miniLienzo h2 {
    font-size: 2rem;           
    margin-bottom: 1rem;
    color: #f5f5f5;
}

.miniLienzo img {
    width: 40%;
    margin-bottom: 1rem;
}

.miniLienzo p {
    color: #f5f5f5;
    width: 80%;                 
    max-width: 800px;           
    font-size: 1.2rem;          
    line-height: 1.5;         
    margin: 0 auto;
}

footer {
    background-color: #5e1357;    
}

footer p {
    color: #f5f5f5;
    text-align: center;
    padding: 15px;
    font-size: 20px;    
}