* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: "Electrolize", serif;
    font-weight: 400;
    font-style: normal;
}

ul {
    display: flex;
    flex-direction: row;
    list-style: none;        
    background-color: #5e1357;
    height: 50px;
    
}

li {
    padding: 14px 38.3px;    
    border-right: aliceblue solid 1px;
    text-align: center;
    
}

a {
    text-decoration: none;
    color:aliceblue;
    font-size: 20px;          
}

#primero {
    text-align: start; 
    width: 500px;     
}

.lienzoInicio {
    background-image: url("./img/foto1.jpg");
    background-size: cover;
    width: 100vw;
    height: 100vh;

}

.lienzoSMR {
    background-image: url("./img/foto2.jpg");
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.lienzoASIR {
    background-image: url("./img/foto3.jpg");
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.lienzoDAW {
    background-image: url("./img/foto4.jpg");
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.lienzoDAM {
    background-image: url("./img/foto5.jpg");
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.lienzoCibersec {
    background-image: url("./img/foto6.jpg");
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.lienzoVideoJuegos {
    background-image: url("./img/foto14.jpg");
    background-size: cover;
    width: 100vw;
    height: 100vh;
}