* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: "Electrolize", serif;
    font-weight: 400;
    font-style: normal;
}

/*El menú con flex en row. */
ul {
    display: flex;
    flex-direction: row;
    list-style: none;        
    background-color: #5e1357;
    height: 50px;
    justify-content: flex-end;        
}

li {
    padding: 14px 35px;    
    border-right: #f5f5f5 solid 1px;
    text-align: center;     
    white-space: nowrap; /*Esto para que los ciclos de 2 palabras no salte la segunda
    a la línea siguiente.*/ 
}

li:hover {
    background-color: #854a8d;
}

a {
    text-decoration: none;
    color:#f5f5f5;
    font-size: 120%;          
}

#primero {
    text-align: start; 
    width: 900px;
    padding-left: 0px;
    padding-right: 975px;        
}

/*Los lienzos principales tienen aplicada la propiedad flex,
para centrar adecuadamente a los lienzos secundarios dentro
de ellos. */
.lienzo {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Estilos con diferentes imágenes de background para cada lienzo principal. */
.lienzoInicio {
    background-image: url("./img/foto1.jpg");
    background-size: cover;
    width: 100vw;
    height: 90vh;
}

.lienzoSMR {
    background-image: url("./img/foto2.jpg");
    background-size: cover;
    width: 100vw;
    height: 90vh;
}

.lienzoASIR {
    background-image: url("./img/foto3.jpg");
    background-size: cover;
    width: 100vw;
    height: 90vh;
}

.lienzoDAW {
    background-image: url("./img/foto4.jpg");
    background-size: cover;
    width: 100vw;
    height: 90vh;
}

.lienzoDAM {
    background-image: url("./img/foto5.jpg");
    background-size: cover;
    width: 100vw;
    height: 90vh;
}

.lienzoCibersec {
    background-image: url("./img/foto6.jpg");
    background-size: cover;
    width: 100vw;
    height: 90vh;
}

.lienzoVideoJuegos {
    background-image: url("./img/foto14.jpg");
    background-size: cover;
    width: 100vw;
    height: 90vh;
}

/*Estilos para los lienzos secundarios.*/
.miniLienzo {
    width: 80vw;
    height: 80vh;
    border-radius: 15px;
    background-color: rgb(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.miniLienzo h2 {
    font-size: 2rem;           
    margin-bottom: 2.8rem;
    color: #f5f5f5;
}

.miniLienzo img {
    width: 40%;
    margin-bottom: 1rem;
    border: 2px #f5f5f5 solid;
    border-radius: 10px;
}

.miniLienzo p {
    color: #f5f5f5;
    width: 90%;               
    font-size: 1.4rem;          
    line-height: 1.5;         
    margin: 0 auto;
}

/*Estilos para el footer. */
footer {
    background-color: #5e1357;    
}

footer p {
    color: #f5f5f5;
    text-align: center;
    padding: 15px;
    font-size: 20px;    
}

/*Regla que usa javascript para ocultar los lienzos
no activos.*/
.invisible {
    display: none;
}

/*Todo sobre mi menú hamburguesa (by Pedro Almodóvar).
En la versión responsive, javascript tiene mucho que ver.*/
#contenedorBurger {
    position: relative;
}

.contenedor-lineas {
    cursor: pointer;    
    height: 50px;
    width: 50px;
    z-index: 20;
    position:absolute;      
}

#menu-toggle {
    position:absolute;
}

.contenedor-lineas, #menu-toggle {
    top:20px;
    left:100px;
}

/*Posicionando las líneas del menú hamburguesa.*/
.linea-superior {
    top: 15px;
}

.linea-intermedia {
    top: 29px;
}

.linea-inferior {
    top: 43px;
}

/*Líneas del menú hamburguesa */
.linea-superior, .linea-intermedia, .linea-inferior {
    width: 40px;
    height: 5px;   
    border-radius: 100px;
    position: absolute; /* Para posicionar las líneas manualmente
    (lo hacemos en la siguientes reglas)*/    
    left: 20px;
    /*Para la transición del menú hamburguesa */    
    transition: transform 0.5s ease, opacity 0.5s ease;
     /*Para que quede encima del menú desplegable*/   
    border:none;/*Esto lo he tenido que añadir por haber
    usado hr en lugar de span o div al hacer las líneas del
    menú hamburguesa. Sirve para eliminar el borde por defecto
    que estropea su aspecto, en especial el de la X que forman
    al aparecer el menú/lista */
}

/*Cuatro reglas para la animación del menú hamburguesa
y su transición a X.*/
#menu-toggle:checked + .contenedor-lineas .linea-superior {
    transform: translateY(18px) rotate(45deg); /* Baja al centro y rota */
    transition: transform 0.5s ease;            
}

#menu-toggle:checked + .contenedor-lineas .linea-intermedia {
    transform: translateX(-100%); /* Se desliza hacia la izquierda */
    opacity: 0; /*Desaparece */
    transition: transform 0.5s ease, opacity 0.5s ease;
}

/*El mismo principio que antes.*/
#menu-toggle:checked + .contenedor-lineas .linea-inferior {
    transform: translateY(-9px) rotate(-45deg); /*Sube al centro y rota */
    transition: transform 0.5s ease;    
}

#menu-toggle:checked + .contenedor-lineas {
    transform: rotate(-90deg); /*Gira el conjunto hacia la izquierda */
    transition: transform 0.5s ease;
    top:35px;
}

input {
    display: none;
}

/*El rollo responsive===============================================================================*/
@media (max-width: 768px) {
    
    /*Aparecía la barra de desplazamiento por un 
    pequeño desajuste de medidas. Nada grave. */
    html {
        overflow: hidden;
    }
    
    /*Cambio de dirección del menú de fila a columna. */
    ul {
        flex-direction: column;
        margin: 0;
        padding:0;
    }

    /*Hacemos que las li ocupen todo el ancho de la página. */
    li {
        background-color: #5e1357;
        width: 100%;
        text-align: center;
        padding: 10px 0;
    }

    /*Ajustamos el tamaño de los miniLienzos */
    .miniLienzo {
        height: 50%;        
    }

    #primero {
        padding-left: 30%;        
    }

    /*Posiciona el burger menu */
    #contenedorBurger {
        position: absolute;        
        right: 185px;
        z-index: 20;
        display: block;        
    }

    /*Color para las líneas del menú hamburguesa*/
    hr {
        background-color:#f5f5f5;
    }

    /*Oculta el input del menú hamburguesa.*/
    input {
        display: none;
    }

    nav.menu {        
        flex-direction: column;
        align-items: center;
        background-color: #5e1357;
        position: fixed;
        left: 0;
        width: 100%;
        z-index: 10;
        transition: top 0.5s ease; /*Animación al desplegar*/
    }   

    /*Ajustes de tamaño para los miniLienzos y los lienzos.*/
    .miniLienzo h2 {
        font-size: 140%;
        text-align: center;
    }

    .miniLienzo p {
        font-size: 90%;
    }

    .lienzo {
        height: 95vh;
    }

    .lienzo {
        background-position:top;
        background-size: 1800px;        
    }

    /*Con esto envio al elemento "inicio" 
    del menú al último lugar del menú. */
    ul :nth-child(1) {
        order: 7;
    }
    
    #primero a::before {
        content: 'Volver a la portada'; /*Texto nuevo*/
    }
    #primero a {
        color: #f5f5f5; /*Ajusta el color del texto*/
        text-align: center;
        margin-left: 28px;
    }
    #primero a span {
        display: none; /*Oculta el texto original*/
    }
}