* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*Reglas para las colores, aprovechando la amabilidad
del profesor que nos ha pasado los colores estructurados
para construir variables. */
:root {
    --gris:#a4a4a4;
    --rojo: #dd432b;
    --azul: #074679;
    --amarillo: #f3bb4a;
    --negro: #13190f;
    --blanco: #d8d8d8;
    --borde:#d0cccc;    
}

/*Dentro del body, 2 contenedores (texto y galeria),
dispuestos con flex en row. */
body{
    font-family: 'Urbanist',sans-serif;
    background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='20' height='20' patternTransform='scale(1) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(54, 38%, 96%, 1)'/><path d='M10-6V6M10 14v12M26 10H14M6 10H-6'  stroke-linejoin='round' stroke-linecap='round' stroke-width='1' stroke='hsla(4, 90%, 58%, 0.07)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  /*Estructuramos los elementos del primer contenedor en
  flex column (título, párrafo e imagen)*/
  #texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    width: 50%;
    text-align: center;
    gap: 1rem;
    margin-top: 15vh;
    margin-right: 8vw;
   
  }

  #texto #cuadrito {
    align-items: center;
  }

  #texto img {
    width: 20%;
  }

  /*Márgenes y tamaños en unidades relativas, 
  para facilitar el modo responsive. */
  #texto #titulo h2 {
    margin-bottom: 1rem;
    font-size: 2.4rem;
    margin-bottom: 10vh;
  }

  #texto #parrafo {
    width: 90%;
    text-align: justify;
    font-size: 1.5rem;
    margin-bottom: 9vh;
  }

  br {
    margin-bottom: 3%;
  }

  /*Establecemos flex en el segundo contenedor,
  en el que se encuentra el cuadro que construimos
  nosotros. */
  #galeria {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 35%;

  }

  /*El contenedor cuadro, donde están todos los
  rectángulos coloreados que componen esta obra de 
  arte. Lo he estructurado en filas que, a su vez,
  están organizadas en columna. */
  #cuadro { 
    display: flex;
    flex-direction: column;   
    border:ridge 10px var(--borde);    
    width: 40vw;
    height: 40vw ;
    margin-right: 15vw;
    margin-left: -8vw;
    margin-top: 10vh;
  }

  /*Las filas de rectángulos.*/
  #filaA, #filaB, #filaC, #filaD,
  #filaE, #filaF, #filaG {
    display: flex;
    flex-direction: row;
  }

  /*Establecemos las alturas de cada fila. 
  Los % están calculados en base al trabajo 
  hecho en el pdf adjunto, en el que obtengo las 
  proporciones para usar en CSS. Todo está calculado
  perfectamente en base a esas medidas, usando calculadora.
  Es cierto que, al plasmar las medidas en CSS, he tenido que
  ajustar un poco a veces para que todo cuadrara, pero me ha 
  ayudado mucho empezar con medidas casi perfectas. */
  #filaA {
    height: 19%;
  }

  #filaD, #filaE {
    height: 22.78%;
  }

  #filaB, #filaC  {
    height: 45.56%;
  }

  #filaF {
    height: 8.52%;
  }

  #filaG {
    height: 5.35%;
  }
  
  .A, .B, .C, .D,
  .E, .F, .G {
    height: 100%;
  }

  /*Empiezo a crear cada rectángulo de la filaA.
  ¿Por qué position: relative? Porque nos va a hacer
  falta después para crear los bordes especiales del 
  cuadro que no llegan hasta el marco de la pintura.*/

  /*Es verdad que hay rectángulos en distintas filas
  que tienen las mismas propiedades y podría haber 
  ahorrado código y que compartieran sus estilos en
  una sola regla, pero he preferido, en pro de la claridad
  del código, que cada rectángulo de cada fila tuviera su regla.
  Solo han compartido regla los que estuvieran en contacto.*/
  #filaA .uno {
    position: relative;
    width: 25.74%;    
    background-color: var(--gris);        
  }   
 
  #filaA .dos {
    position:relative;
    width: 36.61%;    
    background-color: var(--blanco);    
    border-bottom: solid 10px black;
  } 

  #filaA .tres {
    position: relative;
    width: 31.83%;
    background-color: var(--amarillo);    
    border-bottom: solid 10px black;
  }

  /*Esta es la regla que crea esos bordes especiales
  que van hacia arriba y que no llegan hasta el final
   de sus contenedores, imitando fielmente a la pintura
    original. */
  #filaA .uno::before,
  #filaA .dos::before,
  #filaA .tres::before {
    content: '';
    position: absolute;
    top: 30%; /*Inicia el borde desde 1/3 de la altura*/
    right: 0;
    height: 70%; /*Deja el 1/3 superior sin borde*/
    width: 10px; /*Grosor del borde*/
    background-color: black; /*Color del borde*/
}

#filaA .cuatro {
    width: 5.82%;
    background-color: var(--gris);
}

#filaB .uno {
    position: relative;
    width: 12.87%;    
    background-color: var(--blanco);  
    border-right: solid 10px black;
    
}

#filaB .dos {
    width: 49.5%;
    background-color: var(--rojo);
    border-right: solid 10px black;
}

#filaB .tres {
    width: 31.83%;
    background-color: var(--amarillo);
    border-right: solid 10px black;
    border-bottom: solid 10px black;

}

#filaB .cuatro {
    width: 5.82%;
    background-color: var(--gris);
}

#filaC .uno {
    width: 12.87%;
    background-color: var(--gris);
    border-right: solid 10px black;
}

#filaC .dos {
    width: 49.5%;
    background-color: var(--rojo);
    border-right: solid 10px black;
    border-bottom: solid 10px black;
}

#filaC .tres,
#filaC .cuatro {
    width: 15.915%;
    background-color: var(--blanco);
    border-right: solid 10px black;
    border-bottom: solid 10px black;
}

#filaC .cinco {
    width: 5.82%;
    background-color: var(--gris);    
}

#filaD .uno {
    width: 12.87%;
    background-color: var(--gris);
    border-right: solid 10px black;
    
}

#filaD .dos,
#filaD .tres {
    width: 12.87%;
    background-color: var(--negro);
    border-right: solid 10px black;
    border-bottom: solid 10px black;
}

#filaD .cuatro {
    width: 23.7%;
    background-color: var(--gris);
    border-right: solid 10px black;
    border-bottom: solid 10px black;
}

#filaD .cinco {
    width: 31.83%;
    background-color: var(--blanco);
    border-right: solid 10px black;
    border-bottom: solid 10px black;
}

#filaD .seis {
    width: 5.82%;
    background-color: var(--gris);
    border-bottom: solid 10px black;
}

#filaE .uno {
    width: 12.87%;
    background-color: var(--amarillo);
    border-right: solid 10px black;
}

#filaE .dos,
#filaE .tres {
    width: 12.87%;
    background-color: var(--negro);
    border-right: solid 10px black;
    border-bottom: solid 10px black;
}

#filaE .cuatro {
    width: 23.7%;
    background-color: var(--gris);
    border-right: solid 10px black;
    border-bottom: solid 10px black;
}

#filaE .cinco {
    width: 31.83%;
    background-color: var(--azul);
    border-right: solid 10px black;
}

#filaE .seis {
    width: 5.82%;
    background-color: var(--rojo);
}

#filaF .uno {
    width: 12.87%;
    background-color: var(--amarillo);
    border-right: solid 10px black;
}

#filaF .dos {
    width: 25.74%;
    background-color: var(--blanco);
    border-right: solid 10px black;
}

#filaF .tres {
    width: 23.7%;
    background-color: var(--negro);
    border-right: solid 10px black;
    border-bottom: solid 10px black;
}

#filaF .cuatro {
    width: 31.83%;
    background-color: var(--azul);
    border-right: solid 10px black;
    border-bottom: solid 10px black;
}

#filaF .cinco {
    width: 5.82%;
    background-color: var(--rojo);
}

#filaG .uno {
    width: 12.87%;
    background-color: var(--amarillo);
    
}

#filaG .dos {
    width: 25.74%;
    background-color: var(--blanco);
    
}

#filaG .tres {
    width: 55.53%;
    background-color: var(--blanco);    
}

#filaG .cuatro {
    width: 5.82%;
    background-color: var(--rojo); 
}

/*Aquí, con la originalidad que me caracteriza,
he añadido un archivo de imagen con la firma de 
Piet Mondrian, para poner la guinda en el pastel. */
#filaG .tres img {
    width: 20%;
    padding: 1.5%;
}

#filaA .uno::after {
    content: '';
    position: absolute;
    bottom: 0; /* Posicionar el borde en la parte inferior del contenedor */
    left: 15%; /* El borde comienza 1/3 del ancho desde el borde izquierdo */    
    height: 10px; /* Grosor del borde */
    width: 81%; /* El borde ocupa los 2/3 restantes del ancho */
    background-color: black;
}

/*Y como "coup de grâce", con estas tres reglas finales
consigo el efecto de borde incompleto que tiene la pintura original
en el lado izquierdo e inferior. */

#filaB .uno::after,
#filaD .uno::after {
    content: '';
    position: absolute;
    bottom: 0; /* Posicionar el borde en la parte inferior del contenedor */
    left: 30%; /* El borde comienza 1/3 del ancho desde el borde izquierdo */
    height: 10px; /* Grosor del borde */
    width: 70%; /* El borde ocupa los 2/3 restantes del ancho */
    background-color: black;
}

#filaG .uno::after,
#filaG .dos::after,
#filaG .tres::after {
    content: '';
    position: absolute;
    right: 0; /* Posicionar el borde en el lado derecho */
    bottom: 30%; /* El borde termina 1/3 de la altura antes de la parte inferior */
    height: 70%; /* El borde ocupa los 2/3 inferiores del contenedor */
    width: 10px; /* Grosor del borde */
    background-color: black;
}

#filaA .uno,
#filaB .uno,
#filaD .uno,
#filaG .uno,
#filaG .dos,
#filaG .tres {
    position: relative;
}


  