* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --gris:#a4a4a4;
    --rojo: #dd432b;
    --azul: #074679;
    --amarillo: #f3bb4a;
    --negro: #13190f;
    --blanco: #d8d8d8;
    --borde:#d0cccc;
    --bordeNegro:solid 10px black; 
}

body{
    font-family: 'Urbanist',sans-serif;
    background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='20' height='20' patternTransform='scale(1) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(54, 38%, 96%, 1)'/><path d='M10-6V6M10 14v12M26 10H14M6 10H-6'  stroke-linejoin='round' stroke-linecap='round' stroke-width='1' stroke='hsla(4, 90%, 58%, 0.07)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  #texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    width: 50%;
    text-align: center;
    gap: 1rem;
    margin-top: 15vh;
    margin-right: 8vw;
   
  }

  #texto #cuadrito {
    align-items: center;
  }

  #texto img {
    width: 20%;
  }

  #texto #titulo h2 {
    margin-bottom: 1rem;
    font-size: 2.4rem;
    margin-bottom: 10vh;
  }

  #texto #parrafo {
    width: 90%;
    text-align: justify;
    font-size: 1.5rem;
    margin-bottom: 9vh;
  }

  br {
    margin-bottom: 3%;
  }

  #galeria {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 35%;

  }

  #cuadro { 
    display: flex;
    flex-direction: column;   
    border:solid 10px var(--borde);
    width: 40vw;
    height: 40vw ;
    margin-right: 15vw;
    margin-left: -8vw;
    margin-top: 10vh;
  }

  #filaA, #filaB, #filaC, #filaD,
  #filaE, #filaF, #filaG {
    display: flex;
    flex-direction: row;
  }

  #filaA, #filaD, #filaE {
    height: 10.87%;
  }

  #filaB, #filaC  {
    height: 21.74%;
  }

  #filaF {
    height: 6.52%;
  }

  #filaG {
    height: 4.35%;
  }
  
  .A, .B, .C, .D,
  .E, .F, .G {
    height: 100%;
  }

  #filaA .uno {
    position: relative;
    width: 25.74%;    
    background-color: var(--gris);    
    border-bottom: solid 10px black;    
  }  

  #filaA .dos {
    position:relative;
    width: 36.61%;    
    background-color: var(--blanco);    
    border-bottom: solid 10px black;
  } 

  #filaA .tres {
    position: relative;
    width: 31.83%;
    background-color: var(--amarillo);    
    border-bottom: solid 10px black;
  }

  #filaA .uno::before,
  #filaA .dos::before,
  #filaA .tres::before {
    content: '';
    position: absolute;
    top: 33%; /* Inicia el borde desde 1/3 de la altura */
    right: 0;
    height: 67%; /* Deja el 1/3 superior sin borde */
    width: 10px; /* Grosor del borde */
    background-color: black; /* Color del borde */
}

#filaA .cuatro {
    width: 5.82%;
    background-color: var(--gris);
}



  