* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --azul:#424EEB;
    --verde: #85FA4B;
    --naranja: #EB6933;
}

html {
    font-family: "Roboto Condensed", serif;
    font-optical-sizing: auto;    
    font-style: normal;
    background-image: url("./img/pattern_brick-wall.png");
    background-size: 600px;
}

body {
    display: flex;
    justify-content: center;    
}

h1 {
    font-size: 3vw;
    text-align: center;    
}

#container {
    width: 75vw;
    height: 40vw;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: 
    "header header header header header header header"
    ". day day day day day day"
    "day day day day day day day"
    "day day day day day day day"
    "day day day day day day day"
    "day day day . . . .";
    background-color: rgb(183, 202, 220);
    margin-top: 10vh;
    border-radius: 10px;
    border: solid var(--azul) 5px;
    gap: 4px;
    
    
}

.week {
    background-color: var(--azul);
    font-size: 100px;
    width: 15%;
    grid-area: header;
}

.day {
    grid-area: day;
}

