* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --azulTrans: rgb(0, 0, 255, 0.5);
    --naranja: orange;
    --blancoTrans: rgba(0, 255, 255, 0.2);
    --azul: rgb(0, 0, 255);
}

.fondo {
    width: 100%;
    height: 100%;
    background: url("./img/Pattern4.jpg");
    background-size:auto;
    background-position: center;    
   
}

.colorFondo {
    width: 90%; /* Deja un 5% de margen a cada lado */    
    margin: auto; /* Centra la capa negra */
    background: rgba(0, 0, 0, 0.7); /* Color negro semitransparente */
    padding-top: 20px;
   
}

.pop img {
    float: left;
    width: 7vw;
    padding: 1px;
    margin: 3px;
}

p {
    font-family: "Roboto", sans-serif;
    color: white;
    font-size: 0.9vw;    
    letter-spacing: 1.5px;
    text-align: justify;
}

span {
    color: var(--naranja);
    font-style: italic;
    font-weight: bold;
    font-size: 17px;
}

h1, h2, h3, h4 {
  font-family: "Bangers", system-ui;
  font-weight: 400;
  font-style: normal;
  color: var(--naranja);
  
}

h1 {
    font-size: 4vw;
    background-color: var(--azulTrans);
    text-align: center;
    border: 6px solid var(--naranja);
    border-radius: 5px;
    margin-left: 5vw;
    margin-right: 5vw;    
    
}

h2 {
    font-size: 2.3vw;
    background-color: var(--blancoTrans);
    padding: 10px;
    border: 4px solid var(--naranja);
    margin: 3.8vw 7vw;

}

h3 {
    padding: 30px;
}

h4 {
    font-size: 2vw;
    text-align: center;
    padding-top: 10px;
}

.pop div {

    border: 2px solid var(--naranja);
    border-radius: 5px;
    background-color: var(--azulTrans);
    width: 26.3vw;
    height: 41vh;
    margin: 2vw;
    padding: 12px;
    
}

.comic {
    margin-bottom: 10vh;
}

.comic div {
    border: 2px solid var(--naranja);
    border-radius: 5px;    
    background: linear-gradient(to bottom, var(--azul) 0.5%, var(--azulTrans) 99.5%);
    width: 17vw;
    height: 93vh;
    

}

.comic img {
    width: 10vw;
    margin-left: 50px;
}

.literature img {
    width: 5vw;
    float: right;
}

.literature div {
    width: 19vw;
    height: 100vh;
}



.comic p {
    padding: 8px;
}

#dracula {
    margin-left: 2.5vw ;
}

#snowhite {
    float: right;
    margin-right: 2.5vw;
    margin-top: 0.6vh;
    margin-left: 1vw;
}

#yoda {
    float:right;    
    margin-top: 0.2vw;
}

#potter {
   float:right;
   margin-top: 0.1vh;
   margin-right: 5vh;
   
   
}

#indiana {
  margin-top: 1vh;
  
    
   
}

#supes {
    float: left;
    margin-left: 3vw;
}

#bats {
    float: left;
    margin-left: 4vw;
}

#wolvie {
    float: left;
    margin-left: 4vw;
}

#thing {
    float: left;
    margin-left: 4vw;
}

.comic p {
    color: white;
}

