* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --azulTrans: rgb(0, 0, 255, 0.2);
    --naranja: orange;
    --blancoTrans: rgba(0, 255, 255, 0.2);
    --azul: rgb(0, 0, 255);
}

body {
    background-image: url("./img/Pattern4.jpg");
    background-repeat: repeat;
    background-size: 20vw;   
   
}

body::after {
  content: '';
  position:absolute;  
  top: 0;
  left: 0;
  width: 90%;
  height: 660%;
  background-color: rgba(255, 255, 255, 0.3);
  z-index: -1; 
  margin-left: 5%;
  margin-right: 5%;
  
}

.pop img {
    float: left;
    width: 7vw;
    padding: 7px;
    margin: 4px;
}

p {
    font-family: "Roboto", sans-serif;
    color: white;
    font-size: 0.9vw;    
    letter-spacing: 1.5px;
    text-align: justify;
}

span {
    color: var(--naranja);
    font-style: italic;
    font-weight: bold;
    font-size: 17px;
}

h1, h2, h4 {
  font-family: "Bangers", system-ui;
  font-weight: 400;
  font-style: normal;
  color: var(--naranja);
  
}

h1 {
    font-size: 4vw;
    background-color: var(--azulTrans);
    text-align: center;
    border: 6px solid var(--naranja);
    border-radius: 5px;
    margin: 1vw 15vw;
    
}

h2 {
    font-size: 2.3vw;
    background-color: var(--blancoTrans);
    padding: 10px;
    border: 4px solid var(--naranja);
    margin: 3.8vw 7vw;

}

h4 {
    font-size: 2vw;
}

.pop div {

    border: 2px solid var(--naranja);
    border-radius: 5px;
    background-color: var(--azulTrans);
    width: 27vw;
    height: 42vh;
    margin: 2vw;
    padding: 12px;
    
}

.comic div {
    border: 2px solid var(--naranja);
    border-radius: 5px;
    background-color: var(--azulTrans);
    background: linear-gradient(to bottom, var(--azul), var(--azulTrans));
    width: 15vw;
    height: 100vh;

}

.comic img {
    width: 10vw;
}

#dracula {
    margin-left: 6.8vw ;
}

#snowhite {
    float: right;
    margin-right: 7vw;
    margin-top: 0.6vh;
    margin-left: 0.6vw;
}

#yoda {
    float:right;    
    margin-top: 0.1vw;
}

#potter {
   margin-left: 53vw;
}

#indiana {
    
   
}

.comic p {
    color: white;
}

