* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --azulTrans: rgb(0, 0, 255, 0.8);
    --naranja: orange;
    --blancoTrans: rgba(0, 255, 255, 0.2);
    --azul: rgb(0, 0, 255);
}

.fondo {
    width: 100%;
    height: 100%;
    background: url("./img/Pattern4.jpg");
    background-size:auto;
    background-position: center;
    
   
}

.colorFondo {
    width: 90%; /* Deja un 5% de margen a cada lado */    
    margin: auto; /* Centra la capa negra */
    background: rgba(0, 0, 0, 0.7); /* Color negro semitransparente */
   
}



.pop img {
    float: left;
    width: 7vw;
    padding: 7px;
    margin: 4px;
}

p {
    font-family: "Roboto", sans-serif;
    color: white;
    font-size: 0.9vw;    
    letter-spacing: 1.5px;
    text-align: justify;
}

span {
    color: var(--naranja);
    font-style: italic;
    font-weight: bold;
    font-size: 17px;
}

h1, h2, h4 {
  font-family: "Bangers", system-ui;
  font-weight: 400;
  font-style: normal;
  color: var(--naranja);
  
}

h1 {
    font-size: 4vw;
    background-color: var(--azulTrans);
    text-align: center;
    border: 6px solid var(--naranja);
    border-radius: 5px;
    margin: 1vw 15vw;
    
}

h2 {
    font-size: 2.3vw;
    background-color: var(--blancoTrans);
    padding: 10px;
    border: 4px solid var(--naranja);
    margin: 3.8vw 7vw;

}

h4 {
    font-size: 2vw;
}

.pop div {

    border: 2px solid var(--naranja);
    border-radius: 5px;
    background-color: var(--azulTrans);
    width: 25vw;
    height: 27vh;
    margin: 2vw;
    padding: 12px;
    
}

.comic div {
    border: 2px solid var(--naranja);
    border-radius: 5px;
    background-color: var(--azulTrans);
    background: linear-gradient(to bottom, var(--azul), var(--azulTrans));
    width: 15vw;
    height: 100vh;

}

.comic img {
    width: 10vw;
}

#dracula {
    margin-left: 2.5vw ;
}

#snowhite {
    float: right;
    margin-right: 2.5vw;
    margin-top: 0.6vh;
    margin-left: 2.3vw;
}

#yoda {
    float:right;    
    margin-top: 0.2vw;
}

#potter {
   margin-left: 49vw;
   margin-top: 5vh;
   
}

#indiana {
  margin-left: 20vw;
  float:inline-start;
  margin-top: 0;
    
   
}

.comic p {
    color: white;
}

