* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("./img/12230000_4929873.jpg");
    background-repeat: repeat;
}

.pop img {
    float: left;
}

span {
    color: orange;
    font-style: italic;
    font-weight: bold;
    font-size: 30px;
}

h1, h2, h4 {
  font-family: "Bangers", system-ui;
  font-weight: 400;
  font-style: normal;
  color: orange;
  
}

h1 {
    font-size: 4vw;
}

h2 {
    font-size: 3vw;
}

h4 {
    font-size: 2vw;
}